Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, python-formatter, toml-formatter

copier-forbidden-files:
  name: copier_forbidden_files
  entry: 'Found copier update rejection files; review them and remove them
  
    (https://copier.readthedocs.io/en/stable/updating/)
  
    '
  language: fail

python-formatter:
  name: Python Auto-Formatter
  description: Apply calcipy formatting
  language: system
  entry: poetry run doit run --db-file=./.doit.tmp-py format_py

toml-formatter:
  name: Optional TOML Auto-Formatter
  description: Install taplo with 'npm install -g @taplo/cli'
  language: system
  entry: poetry run doit run --db-file=./.doit.tmp-toml format_toml

feat: start restoring files and switching to shoal
  .flake8
  .pre-commit-hooks.yaml
  .pylintrc
  .sourcery.yaml
  calcipy/__init__.py
  calcipy/code_tag_collector/__init__.py
  calcipy/code_tag_collector/_collector.py
  calcipy/code_tag_collector/cli.py
  calcipy/dev/__init__.py
  calcipy/dev/conftest/__init__.py
  calcipy/dev/conftest/_conftest.py
  calcipy/dev/noxfile/__init__.py
  calcipy/dev/noxfile/_noxfile.py
  calcipy/dot_dict/__init__.py
  calcipy/dot_dict/_dot_dict.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/shoals.py
  poetry.lock
  pyproject.toml
  tests/configuration.py
Due: python-formatter, toml-formatter

build: copier update
  .copier-answers.yml
  .github/actions/setup/action.yml
  .github/workflows/labeler.yml
  .pre-commit-config.yaml
  tests/test_zz_calcipy.py
Due: python-formatter

feat: switch to invoke
  calcipy/code_tag_collector/cli.py
  calcipy/main.py
  calcipy/shoals.py
  calcipy/tasks.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

feat: add initial nox task to invoke
  calcipy/__init__.py
  calcipy/code_tag_collector/cli.py
  calcipy/dev/noxfile/__init__.py
  calcipy/dev/noxfile/_noxfile.py
  calcipy/main.py
  calcipy/tasks.py
  calcipy/testing/cli.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

refactor: nest invoke-specific code in tasks/
  calcipy/code_tag_collector/__init__.py
  calcipy/code_tag_collector/_collector.py
  calcipy/dev/noxfile/_noxfile.py
  calcipy/dot_dict/_dot_dict.py
  calcipy/main.py
  calcipy/tasks.py
  calcipy/tasks/__init__.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/ctc.py
  calcipy/tasks/nox.py
Due: python-formatter

feat: add can_skip
  calcipy/can_skip.py
  calcipy/tasks/ctc.py
Due: python-formatter

feat: init placeholders for new namespaces
  calcipy/tasks/all_tasks.py
  calcipy/tasks/ctc.py
  calcipy/tasks/mypy.py
  calcipy/tasks/nox.py
  calcipy/tasks/pyright.py
  calcipy/tasks/pytest.py
Due: python-formatter

feat: experiment with parallel processing
  parallel.py
  richarallel.py
Due: python-formatter

refactor: move can_skip to shoal
  calcipy/can_skip.py
Due: python-formatter

Revert "feat: experiment with parallel processing"
  parallel.py
  richarallel.py
Due: python-formatter

feat: add pytest-based tasks and first unit tests
  calcipy/__init__.py
  calcipy/dev/conftest/_conftest.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/ctc.py
  calcipy/tasks/mypy.py
  calcipy/tasks/nox.py
  calcipy/tasks/pyright.py
  calcipy/tasks/pytest.py
  calcipy/tasks/test.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/tasks/test_test.py
Due: python-formatter, toml-formatter

feat: add write_json and cached pyproject reader
  calcipy/tasks/cached_utilities.py
  calcipy/tasks/test.py
  tests/tasks/test_test.py
Due: python-formatter

fix: resolve issues with test.watch-json
  calcipy/dev/conftest/_conftest.py
  calcipy/tasks/test.py
  poetry.lock
  pyproject.toml
  tests/tasks/test_test.py
Due: python-formatter, toml-formatter

feat: add pyright, mypy, and DEFAULTS
  .mypy.ini
  calcipy/file_helpers.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/defaults.py
  calcipy/tasks/mypy.py
  calcipy/tasks/pyright.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  poetry.lock
  pyproject.toml
  tests/tasks/test_test.py
  tests/tasks/test_types.py
Due: python-formatter, toml-formatter

feat: migrate over stale package logic
  .calcipy_packaging.lock
  calcipy/check_for_stale_packages/__init__.py
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/ctc.py
  calcipy/tasks/stale.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

fix: write Code Tags to docs/docs
  .pre-commit-config.yaml
  calcipy/tasks/ctc.py
  calcipy/tasks/defaults.py
  docs/docs/CODE_TAG_SUMMARY.md
Due: python-formatter

fix: show all URLs on the same line in CTC
  calcipy/code_tag_collector/_collector.py
  docs/docs/CODE_TAG_SUMMARY.md
  ruff.toml
Due: python-formatter, toml-formatter

feat: add linting
  calcipy/check_for_stale_packages/__init__.py
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/code_tag_collector/__init__.py
  calcipy/code_tag_collector/_collector.py
  calcipy/dev/conftest/__init__.py
  calcipy/dev/conftest/_conftest.py
  calcipy/dev/noxfile/__init__.py
  calcipy/dev/noxfile/_noxfile.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/main.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/cached_utilities.py
  calcipy/tasks/ctc.py
  calcipy/tasks/defaults.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/stale.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  ruff.toml
Due: python-formatter, toml-formatter

feat: start manually fixing lint issues
  calcipy/check_for_stale_packages/__init__.py
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/code_tag_collector/__init__.py
  calcipy/code_tag_collector/_collector.py
  calcipy/dev/conftest/__init__.py
  calcipy/dev/noxfile/__init__.py
  calcipy/dev/noxfile/_noxfile.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  ruff.toml
  tests/configuration.py
  tests/conftest.py
  tests/tasks/test_test.py
  tests/tasks/test_types.py
Due: python-formatter, toml-formatter

refactor: another round of manual lint corrections
  calcipy/dev/conftest/_conftest.py
  calcipy/main.py
  calcipy/tasks/ctc.py
  calcipy/tasks/defaults.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/stale.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  ruff.toml
Due: python-formatter, toml-formatter

Restore .github/ABOUT.md
  .github/ABOUT.md
Due: none

refactor: extract start program to shoal
  calcipy/main.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

refactor: make lint.check default
  README.md
  calcipy/tasks/lint.py
Due: python-formatter

build: group dependencies (later replace with optional)
  .github/PULL_REQUEST_TEMPLATE.md
  poetry.lock
  pyproject.toml
Due: toml-formatter

refactor: manually resolve additional linting errors
  calcipy/dev/conftest/_conftest.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/cached_utilities.py
  calcipy/tasks/tags.py
  ruff.toml
  tests/conftest.py
  tests/tasks/__init__.py
  tests/tasks/test_test.py
Due: python-formatter, toml-formatter

ci: begin switching GHA to prc
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
Due: none

refactor: resolve typecheck errors
  .copier-answers.yml
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/tasks/cached_utilities.py
  calcipy/tasks/defaults.py
  calcipy/tasks/tags.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

build!: drop pytest-html and conftest completely
  calcipy/dev/__init__.py
  calcipy/dev/conftest/__init__.py
  calcipy/dev/conftest/_conftest.py
  calcipy/noxfile/__init__.py
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/test.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/tasks/test_test.py
  tests/tasks/test_types.py
Due: python-formatter, toml-formatter

refactor: move log configuration to shoal.cli.task
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/stale.py
  calcipy/tasks/tags.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

feat: use can_skip for the package_lock file
  .calcipy_packaging.lock
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/tasks/stale.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

feat: run mypy-silent and add main task
  .github/workflows/ci_pipeline.yml
  calcipy/tasks/all_tasks.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/stale.py
  calcipy/tasks/tags.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  ruff.toml
  tests/tasks/test_test.py
Due: python-formatter, toml-formatter

fix: properly map CLI arguments to code tag collector
  .calcipy_packaging.lock
  calcipy/code_tag_collector/_collector.py
  calcipy/tasks/tags.py
  docs/docs/CODE_TAG_SUMMARY.md
Due: python-formatter

fix: code tag summary and rename default tasks
  .github/workflows/ci_pipeline.yml
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/code_tag_collector/_collector.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/nox.py
  calcipy/tasks/tags.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  docs/Advanced_Configuration.md
  docs/docs/CODE_TAG_SUMMARY.md
Due: python-formatter

feat: restore most of noxfile
  calcipy/file_helpers.py
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/cached_utilities.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/pack.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  ruff.toml
  tests/tasks/test_test.py
Due: python-formatter, toml-formatter

feat: add lint.pre-commit
  calcipy/tasks/all_tasks.py
  calcipy/tasks/lint.py
Due: python-formatter

refactor: run prc main
  .github/labels.yml
  .github/workflows/codeql-analysis.yml
  .pre-commit-hooks.yaml
  .sourcery.yaml
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/lint.py
  calcipy/tasks/pack.py
  docs/docs/CODE_TAG_SUMMARY.md
  mkdocs.yml
  tests/tasks/test_test.py
Due: python-formatter

feat: add ./run to generlize local entrypoint
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
  run
Due: none

feat: add lint.security
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/lint.py
  calcipy/tasks/types.py
  docs/docs/CODE_TAG_SUMMARY.md
Due: python-formatter

build: switch to extras and drop lxml
  .copier-answers.yml
  .github/actions/setup/action.yml
  .pre-commit-config.yaml
  calcipy/tasks/types.py
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

refactor: try to wrap running tasks programmatically...
  calcipy/tasks/all_tasks.py
Due: python-formatter

Path conditions:
  copier-forbidden-files: any of: \.rej$
  python-formatter: any of: \.py$
  toml-formatter: any of: \.toml$, but not: poetry\.lock
