Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      # - id: check-yaml  # The mkdocs YAML file isn't valid...
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
        stages: [push]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.14.2
    hooks:
      - id: commitizen
        additional_dependencies: ["git+https://github.com/KyleKing/cz_legacy.git@bfff2ab4134c26a31f1e7f9c3a8d4bedba824b08"]
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        entry: poetry lock
        language: system
        files: pyproject.toml
        stages: [push]
      - id: doit
        name: doit
        entry: poetry run doit run test
        language: system
        files: "\\.py"
        stages: [push]

feat(#67): initialize GH CI Action
  .github/workflows/ci_pipeline.yml
  .github/workflows/labels.yml
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
Due: doit

build: fix actions and treat matrix versions as strings
  .github/workflows/ci_pipeline.yml
Due: none

fix: don't suppress nox missing interpreter errors
  calcipy/doit_tasks/test.py
Due: doit

fix: support Python 3.7.12
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/lint.py
  calcipy/proc_helpers.py
Due: doit

build: try to add missing dependencies to GHA
  .github/workflows/ci_pipeline.yml
Due: none

build: install all dependencies for testing
  .github/workflows/ci_pipeline.yml
Due: none

build: don't use ansi for GHA
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
Due: none

fix: run push hook stage and format subproject
  .test_calcipy_project/dodo.py
  .test_calcipy_project/tests/configuration.py
  .test_calcipy_project/tests/conftest.py
  .test_calcipy_project/tests/test_zz_test_project.py
  calcipy/doit_tasks/lint.py
Due: doit

fix: always use Interactive when using /dev/null
  calcipy/doit_tasks/lint.py
Due: doit

build: specify the right version of 3.7
  .github/workflows/ci_pipeline.yml
Due: none

fix: remove diff-quality check until fixed for CI
  calcipy/doit_tasks/lint.py
Due: doit

build: attempt to cache poetry environment
  .github/workflows/ci_pipeline.yml
Due: none

refactor: resolve LGTM error
  calcipy/doit_tasks/lint.py
Due: doit

build: use DRY local composite action!
  .github/actions/setup_action.yml
  .github/workflows/ci_pipeline.yml
Due: none

build: use suffix for composite action
  .github/workflows/ci_pipeline.yml
Due: none

build: try using action.yml naming scheme
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
Due: none

build: run labeler less frequently
  .github/workflows/labels.yml
Due: none

build: maybe the checkout action was missing?
  .github/workflows/ci_pipeline.yml
Due: none

build: set shell and try removing checkout
  .github/actions/setup/action.yml
Due: none

build: fix action input names
  .github/actions/setup/action.yml
Due: none

build: fixes for Py 3.7.9 and to use "poetry run"
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  pyproject.toml
Due: lock_deps

build: need to have relative slash for local actions
  .github/workflows/ci_pipeline.yml
Due: none

fix: attempt to resolve CI issues
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  tests/test_doit_tasks/test_lint.py
Due: doit

build: resolve yamllint errors
  .github/README.md
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
  calcipy/doit_tasks/lint.py
Due: doit

fix: make yamllint more relaxed
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/lint.py
  tests/test_doit_tasks/test_lint.py
Due: doit

fix: address more minor CI errors
  .github/workflows/ci_pipeline.yml
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/lint.py
  docs/README.md
Due: doit

refactor: pre-commit can be run in one command
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  tests/test_doit_tasks/test_lint.py
Due: doit

build: fix syntax error in CI pipeline workflow
  .github/workflows/ci_pipeline.yml
  docs/docs/DEVELOPER_GUIDE.md
Due: none

build: add new update_docs GHA
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
  docs/docs/DEVELOPER_GUIDE.md
Due: none

build: use the pre-commit aciton for pre-commit
  .github/README.md
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
Due: none

build: fix pre-commit action version
  .github/workflows/ci_pipeline.yml
Due: none

build: another attempt to fix incorrectly tagged actions
  .github/actions/setup/action.yml
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: none

fix: attempt to resolve UnicodeError on Windows action
  calcipy/doit_tasks/packaging.py
Due: doit

feat: drop AppVeyor and update with copier
  .copier-answers.yml
  .github/README.md
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
  .pre-commit-config.yaml
  appveyor.yml
Due: none

fix: drop appveyor from cz version files
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  pyproject.toml
Due: lock_deps

bump: version 0.12.2 → 0.13.0
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

docs: rename .github/README.md b/c takes priority
  .github/ABOUT.md
Due: none

build: always run full poetry install to ensure correct cache
  .github/actions/setup/action.yml
Due: none

fix: make coverage.json optional for task_doc
  .github/ABOUT.md
  .github/workflows/update_docs.yml
  calcipy/doit_tasks/doc.py
Due: doit

build: don't cache .nox
  .github/actions/setup/action.yml
Due: none
