Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      # - id: check-yaml  # The mkdocs YAML file isn't valid...
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
        stages: [push]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.14.2
    hooks:
      - id: commitizen
        additional_dependencies: ["git+https://github.com/KyleKing/cz_legacy.git@bfff2ab4134c26a31f1e7f9c3a8d4bedba824b08"]
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        entry: poetry lock
        language: system
        files: pyproject.toml
        stages: [push]
      - id: doit
        name: doit
        entry: poetry run doit run test
        language: system
        files: "\\.py"
        stages: [push]

refactor: try to suppress deepsource errors
  .test_calcipy_project/dodo.py
  calcipy/doit_tasks/__init__.py
  dodo.py
  scripts/check_imports.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

refactor: improve code quality
  calcipy/doit_tasks/summary_reporter.py
  calcipy/log_helpers.py
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
Due: doit

refactor: fix anti-pattern with nox session decorator and arg
  calcipy/dev/noxfile.py
Due: doit

refactor: see if only one space is okay for skipcq
  .test_calcipy_project/dodo.py
  calcipy/doit_tasks/__init__.py
  dodo.py
  scripts/check_imports.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

bump: version 0.2.0 → 0.3.0
  CHANGELOG.md
  appveyor.yml
  calcipy/__init__.py
  pyproject.toml
Due: lock_deps, doit

fix: prevent committing changelog at base dir
  CHANGELOG.md
  calcipy/doit_tasks/doc.py
  docs/docs/CHANGELOG.md
Due: doit

fix: install full dev-dep as temporary nox workaround
  calcipy/dev/noxfile.py
Due: doit

build: fix calver scheme for 2021
  appveyor.yml
  calcipy/__init__.py
  calcipy/doit_tasks/summary_reporter.py
  pyproject.toml
Due: lock_deps, doit

bump: version 0.3.0 → 0.3.1rc0
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

bump: version 0.3.1rc0 → 0.3.1
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

test: fix test for updated changelog tasks
  docs/docs/DEVELOPER_GUIDE.md
  tests/test_doit_tasks/test_doc.py
Due: doit

fix: error in noxfile with poetry install
  calcipy/dev/noxfile.py
Due: doit

build: update requirements
  .calcipy_packaging.lock
  poetry.lock
  requirements.txt
Due: none

refactor: prevent mutation in DG.set_paths
  calcipy/doit_tasks/doit_globals.py
  tests/configuration.py
  tests/test_doit_tasks/test_doc.py
Due: doit

docs: update with doit
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: none

bump: version 0.3.1 → 0.3.2
  appveyor.yml
  calcipy/__init__.py
  pyproject.toml
Due: lock_deps, doit

docs: update README
  docs/README.md
Due: none

feat: add autoflake
  .calcipy_packaging.lock
  calcipy/doit_tasks/lint.py
  notes.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_doit_tasks/test_lint.py
Due: lock_deps, doit

feat: add output if no stale packages found
  calcipy/doit_tasks/packaging.py
  pyproject.toml
Due: lock_deps, doit

test: add placeholder test for check for stale
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/packaging.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/test_doit_tasks/test_packaging.py
Due: doit

feat: add it
  .calcipy_packaging.lock
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/lint.py
  notes.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_doit_tasks/test_wildcard.py
Due: lock_deps, doit

feat: diff-quality (lint)
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  notes.md
  pyproject.toml
  tests/test_doit_tasks/test_lint.py
Due: lock_deps, doit

feat: add vulture
  calcipy/dev/conftest.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/packaging.py
  calcipy/file_helpers.py
Due: doit

feat: add notes on wily and pylint
  poetry.lock
  pyproject.toml
Due: lock_deps

docs: update README with feature list & new banner image
  .gitignore
  docs/README.md
  docs/calcipy-banner.svg
  docs/calcipy-square.svg
Due: none

refactor: rename "wrappers" to "dot_dict"
  calcipy/dot_dict.py
  scripts/check_imports.py
  tests/test_dot_dict.py
Due: doit

docs: update task docstrings
  calcipy/dev/conftest.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/test.py
  calcipy/log_helpers.py
  docs/README.md
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: doit

test: fix test and lint errors
  .pre-commit-config.yaml
  appveyor.yml
  calcipy/dev/conftest.py
  calcipy/dev/noxfile.py
  docs/README.md
  mkdocs.yml
  pyproject.toml
  tests/test_doit_tasks/test_lint.py
Due: lock_deps, doit

docs: improve documentation
  README.md
  calcipy/log_helpers.py
  docs/Advanced_Configuration.md
  docs/README.md
  docs/calcipy-banner-wide.svg
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  notes.md
Due: doit

feat: add code diagrams to doc-site
  calcipy/doit_tasks/doc.py
  tests/test_doit_tasks/test_doc.py
Due: doit

feat: initial semgrep implementation
  calcipy/dev/noxfile.py
  noxfile.py
Due: doit

refactor: apply fixes found from semgrep
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
Due: doit

build: run doit tasks
  .calcipy_packaging.lock
  calcipy/doit_tasks/doc.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

feat: condense doit output in show_cmd
  calcipy/doit_tasks/base.py
Due: doit

bump: version 0.3.2 → 0.4.0
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
  pyproject.toml
Due: lock_deps, doit

docs: compact README feature list
  calcipy/doit_tasks/lint.py
  docs/README.md
  docs/docs/DEVELOPER_GUIDE.md
Due: doit

feat: add xenon (wraps radon)
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/doit_tasks/lint.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_doit_tasks/test_lint.py
Due: lock_deps, doit

refactor: use Interactive instead of Chrome
  calcipy/dev/conftest.py
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/test.py
  tests/test_doit_tasks/test_test.py
Due: doit

refactor: cleanup a few minor errors
  .gitignore
  README.md
  appveyor.yml
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/templates/text.mako
  docs/docs/CODE_TAG_SUMMARY.md
  mkdocs.yml
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_file_search.py
Due: doit

refactor: zip release task
  calcipy/doit_tasks/base.py
Due: doit
