Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, python-formatter, toml-formatter

copier-forbidden-files:
  name: copier_forbidden_files
  entry: 'Found copier update rejection files; review them and remove them
  
    (https://copier.readthedocs.io/en/stable/updating/)
  
    '
  language: fail

python-formatter:
  name: Python Auto-Formatter
  description: Apply calcipy formatting
  language: system
  entry: poetry run doit run --db-file=./.doit.tmp-py format_py

toml-formatter:
  name: Optional TOML Auto-Formatter
  description: Install taplo with 'npm install -g @taplo/cli'
  language: system
  entry: poetry run doit run --db-file=./.doit.tmp-toml format_toml

refactor: import initialized logger directly
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/code_tag_collector/_collector.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/log.py
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/pack.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
Due: python-formatter

feat: add progress indicator to tasks
  calcipy/tasks/all_tasks.py
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  tests/tasks/test_types.py
Due: python-formatter, toml-formatter

feat: remove pre-commit; add doc and ddict extras
  .copier-answers.yml
  .github/actions/setup/action.yml
  .pre-commit-config.yaml
  calcipy/dot_dict/__init__.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/noxfile/__init__.py
  calcipy/tasks/lint.py
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

feat: add initial version of doc namespace
  .copier-answers.yml
  .github/actions/setup/action.yml
  .github/workflows/update_docs.yml
  calcipy/dot_dict/__init__.py
  calcipy/file_helpers.py
  calcipy/md_writer/__init__.py
  calcipy/md_writer/_writer.py
  calcipy/noxfile/__init__.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/doc.py
  docs/README.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

feat: run lint on file_args and use absolufy
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/code_tag_collector/_collector.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/lint.py
  calcipy/tasks/pack.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

feat: introduce cl namespace
  calcipy/tasks/all_tasks.py
  calcipy/tasks/cl.py
Due: python-formatter

fix: get doc and cl tasks working
  .tool-versions
  calcipy/_temp_dg.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/md_writer/_writer.py
  calcipy/tasks/cl.py
  calcipy/tasks/doc.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  docs/docs/MIGRATION.md
  noxfile.py
Due: python-formatter

ci: grant write permissions
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
Due: none

build: make type stubs non-optional
  calcipy/tasks/test.py
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

feat: support prereleases and add autopep8
  calcipy/md_writer/_writer.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/cl.py
  calcipy/tasks/lint.py
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

refactor: apply autopep8 to fix whitespace issues
  calcipy/dot_dict/__init__.py
  calcipy/file_helpers.py
  calcipy/noxfile/__init__.py
  calcipy/tasks/defaults.py
  calcipy/tasks/lint.py
  calcipy/tasks/tags.py
  calcipy/tasks/test.py
  docs/docs/CODE_TAG_SUMMARY.md
  tests/tasks/test_test.py
Due: python-formatter

ci: skip pyright for now
  .github/workflows/ci_pipeline.yml
Due: none

ci: don't use pty on Windows or CI
  calcipy/tasks/invoke_helpers.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/pack.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  ruff.toml
  tests/tasks/test_test.py
  tests/tasks/test_types.py
Due: python-formatter, toml-formatter

Restore .flake8
  .flake8
Due: none

refactor: resolve flake8 warnings and better manage filenames
  .calcipy_packaging.lock
  .flake8
  .github/workflows/update_docs.yml
  calcipy/_temp_dg.py
  calcipy/check_for_stale_packages/__init__.py
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/code_tag_collector/_collector.py
  calcipy/file_helpers.py
  calcipy/md_writer/_writer.py
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/doc.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/pack.py
  calcipy/tasks/stale.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  docs/gen_ref_nav.py
  poetry.lock
  pyproject.toml
  ruff.toml
  scripts/check_imports.py
Due: python-formatter, toml-formatter

refactor: reorder main tasks
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/nox.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: python-formatter

featL add 'other' task
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/nox.py
  calcipy/tasks/pack.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  docs/docs/MIGRATION.md
Due: python-formatter

Restore .pylintrc
  .pylintrc
Due: none

refactor: resolve pylint issues
  .pylintrc
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/code_tag_collector/_collector.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/md_writer/_writer.py
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/lint.py
  calcipy/tasks/test.py
Due: python-formatter

feat: start using check_imports
  .github/workflows/upgrade-dependencies.yml
  .pre-commit-config.yaml
  .pylintrc
  calcipy/_log.py
  calcipy/check_for_stale_packages/__init__.py
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/code_tag_collector/__init__.py
  calcipy/code_tag_collector/_collector.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/invoke_helpers.py
  calcipy/md_writer/_writer.py
  calcipy/noxfile/_noxfile.py
  calcipy/scripts.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/pack.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  docs/docs/MIGRATION.md
  docs/gen_ref_nav.py
  pyproject.toml
  ruff.toml
  scripts/check_imports.py
  tests/conftest.py
  tests/tasks/test_test.py
  tests/tasks/test_types.py
Due: python-formatter, toml-formatter

feat: unit test write_autoformatted_md_sections
  .pre-commit-config.yaml
  calcipy/file_search.py
  calcipy/md_writer/_writer.py
  calcipy/noxfile/__init__.py
  calcipy/noxfile/_noxfile.py
  noxfile.py
  scripts/check_imports.py
  tests/data/sample_doc_files/README.md
  tests/md_writer/__init__.py
  tests/md_writer/test_writer.py
Due: python-formatter

feat: better support min-cover
  .calcipy_packaging.lock
  calcipy/tasks/defaults.py
  calcipy/tasks/test.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
Due: python-formatter

feat: replace dg with user configuration file
  .calcipy.json
  calcipy/_temp_dg.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/cl.py
  calcipy/tasks/defaults.py
  calcipy/tasks/doc.py
  calcipy/tasks/test.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: python-formatter

refactor: rename write-json to coverage
  calcipy/md_writer/_writer.py
  calcipy/tasks/all_tasks.py
  calcipy/tasks/test.py
  tests/tasks/test_test.py
Due: python-formatter

feat: add tests for code tag collector
  .calcipy_packaging.lock
  calcipy/code_tag_collector/_collector.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  tests/assert-cache/README.md
  tests/assert-cache/test_code_tag_collector/test_format_report.json
  tests/assert-cache/test_code_tag_collector/test_search_lines.json
  tests/code_tag_collector/__init__.py
  tests/code_tag_collector/test_collector.py
  tests/md_writer/test_writer.py
Due: python-formatter, toml-formatter

test: add tests for ddict and stale
  .pre-commit-config.yaml
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  poetry.lock
  pyproject.toml
  ruff.toml
  tests/check_for_stale_packages/__init__.py
  tests/check_for_stale_packages/test_check_for_stale_packages.py
  tests/test_dot_dict.py
Due: python-formatter, toml-formatter

test: add pytest-vcr tests for stale checks
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/file_helpers.py
  calcipy/noxfile/_noxfile.py
  poetry.lock
  pyproject.toml
  tests/check_for_stale_packages/cassettes/test_check_for_stale_packages/test__check_for_stale_packages.yaml
  tests/check_for_stale_packages/cassettes/test_check_for_stale_packages/test__get_release_date.yaml
  tests/check_for_stale_packages/test_check_for_stale_packages.py
  tests/code_tag_collector/test_collector.py
  tests/noxfile/__init__.py
  tests/noxfile/test_noxfile.py
  tests/test_file_helpers.py
  tests/test_zz_calcipy.py
Due: python-formatter, toml-formatter

test: add test for search files
  .calcipy_packaging.lock
  calcipy/file_search.py
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  pyproject.toml
  tests/data/sample_doc_files/.dotfile
  tests/md_writer/test_writer.py
  tests/noxfile/test_noxfile.py
  tests/test_file_search.py
Due: python-formatter, toml-formatter

test: remove docstrings
  tests/__init__.py
  tests/conftest.py
  tests/md_writer/test_writer.py
  tests/tasks/test_types.py
  tests/test_dot_dict.py
  tests/test_file_helpers.py
  tests/test_zz_calcipy.py
Due: python-formatter

test: add tests for lint
  .calcipy.json
  calcipy/tasks/lint.py
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  ruff.toml
  tests/tasks/test_lint.py
  tests/tasks/test_test.py
  tests/tasks/test_types.py
Due: python-formatter, toml-formatter

refactor: fix remaining pyright and flake8 errors
  .github/workflows/ci_pipeline.yml
  calcipy/tasks/all_tasks.py
  tests/noxfile/test_noxfile.py
Due: python-formatter

fix: correct ignore pattern logic and expand task tests
  .calcipy.json
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  calcipy/file_search.py
  calcipy/tasks/cl.py
  calcipy/tasks/doc.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  tests/tasks/test_all_tasks.py
  tests/tasks/test_cl.py
  tests/tasks/test_doc.py
  tests/tasks/test_lint.py
  tests/tasks/test_nox.py
  tests/tasks/test_pack.py
  tests/tasks/test_tags.py
Due: python-formatter

refactor: simplify configuration
  .calcipy.json
  calcipy/file_helpers.py
  calcipy/tasks/cl.py
  calcipy/tasks/defaults.py
  calcipy/tasks/doc.py
  calcipy/tasks/tags.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  scripts/check_imports.py
Due: python-formatter

refactor: drop absolufy-imports task
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/tasks/lint.py
  poetry.lock
  pyproject.toml
  ruff.toml
  tests/tasks/test_lint.py
Due: python-formatter, toml-formatter

feat: add dont_skip for testing
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/tasks/pack.py
  tests/tasks/test_pack.py
Due: python-formatter

ci: run prettier instead of beautysh
  .editorconfig
  .pre-commit-config.yaml
  .sourcery.yaml
  .yamllint.yaml
  docs/_javascript/tables.js
Due: none

refactor: introduce logger.print and print_debug
  calcipy/check_for_stale_packages/_check_for_stale_packages.py
  calcipy/code_tag_collector/_collector.py
  calcipy/file_helpers.py
  calcipy/md_writer/_writer.py
  calcipy/noxfile/_noxfile.py
  calcipy/tasks/all_tasks.py
Due: python-formatter

feat: recursively find the tool versions file
  calcipy/file_helpers.py
  calcipy/noxfile/_noxfile.py
Due: python-formatter

refactor: generlize find_in_parents for pyproject.toml as well
  calcipy/file_helpers.py
Due: python-formatter

refactor: extract use_pty to a default in shoal
  calcipy/invoke_helpers.py
  calcipy/tasks/cl.py
  calcipy/tasks/doc.py
  calcipy/tasks/lint.py
  calcipy/tasks/nox.py
  calcipy/tasks/pack.py
  calcipy/tasks/test.py
  calcipy/tasks/types.py
  scripts/check_imports.py
  tests/tasks/test_all_tasks.py
  tests/tasks/test_cl.py
  tests/tasks/test_doc.py
  tests/tasks/test_lint.py
  tests/tasks/test_nox.py
  tests/tasks/test_pack.py
  tests/tasks/test_tags.py
  tests/tasks/test_test.py
  tests/tasks/test_types.py
Due: python-formatter

Path conditions:
  copier-forbidden-files: any of: \.rej$
  python-formatter: any of: \.py$
  toml-formatter: any of: \.toml$, but not: poetry\.lock
