Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      # - id: check-yaml  # The mkdocs YAML file isn't valid...
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
        stages: [push]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.14.2
    hooks:
      - id: commitizen
        additional_dependencies: ["git+https://github.com/KyleKing/cz_legacy.git@bfff2ab4134c26a31f1e7f9c3a8d4bedba824b08"]
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        entry: poetry lock
        language: system
        files: pyproject.toml
        stages: [push]
      - id: doit
        name: doit
        entry: poetry run doit run test
        language: system
        files: "\\.py"
        stages: [push]

docs: shorten descriptions for doit list
  calcipy/doit_tasks/test.py
Due: doit

build: cache nox environments
  appveyor.yml
Due: none

refactor: relicense with MIT for better compliance
  LICENSE
  pyproject.toml
Due: lock_deps

build: drop deprecated package dependencies
  .calcipy_packaging.lock
  poetry.lock
  pyproject.toml
Due: lock_deps

docs: update with doit
  .calcipy_packaging.lock
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  pyproject.toml
  requirements.txt
Due: lock_deps

refactor: fix edge case in diff-cov failing and lint errors
  .flake8
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/test.py
  calcipy/file_helpers.py
  docs/CODE_TAG_SUMMARY.md
  tests/dev/test_conftest.py
  tests/test_doit_tasks/test_packaging.py
  tests/test_doit_tasks/test_test.py
Due: doit

feat: create doit summary report
  .calcipy_packaging.lock
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/summary_reporter.py
  docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_doit_tasks/test_summary.py
Due: lock_deps, doit

build: temporarily exclude pdbpp on Win >3.9
  poetry.lock
  pyproject.toml
Due: lock_deps

refactor: move isort back to toml
  .isort.cfg
  calcipy/doit_tasks/doit_globals.py
  pyproject.toml
  tests/test_doit_tasks/test_doit_globals.py
Due: lock_deps, doit

refactor: move markdown to subdirectory for mkdocs
  docs/README.md
  docs/docs/CHANGELOG.md
  docs/docs/CODE_OF_CONDUCT.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/CONTRIBUTING.md
  docs/docs/DEVELOPER_GUIDE.md
  docs/docs/SECURITY.md
  docs/docs/STYLE_GUIDE.md
  docs/modules/.gitignore
Due: none

fix(#58): remove None from pdocs output
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/templates/text.mako
Due: doit

feat: make loading YAML files more generic
  calcipy/doit_tasks/doit_globals.py
  calcipy/file_helpers.py
Due: doit

feat(#58): implement doc task and merge serve_docs
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/packaging.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

docs: remove unused CSS and fix more mako formatting errors
  calcipy/doit_tasks/templates/LICENSE-html5
  calcipy/doit_tasks/templates/README.md
  calcipy/doit_tasks/templates/css.mako
  calcipy/doit_tasks/templates/text.mako
  mkdocs.yml
Due: none

fix: resolve doc_dir and style errors
  .test_calcipy_project/.copier-answers.yml
  .test_calcipy_project/docs_custom/README.md
  .test_calcipy_project/docs_custom/docs/CODE_OF_CONDUCT.md
  .test_calcipy_project/docs_custom/docs/CONTRIBUTING.md
  .test_calcipy_project/docs_custom/docs/DEVELOPER_GUIDE.md
  .test_calcipy_project/docs_custom/docs/SECURITY.md
  .test_calcipy_project/docs_custom/docs/STYLE_GUIDE.md
  .test_calcipy_project/pyproject.toml
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  requirements.txt
  tests/dev/test_noxfile.py
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_packaging.py
  tests/test_doit_tasks/test_summary.py
Due: lock_deps, doit

build: remove attempt to cache pipenv
  appveyor.yml
Due: none

bump: version 0.2.0a0 → 0.2.0
  CHANGELOG.md
  appveyor.yml
  calcipy/__init__.py
  pyproject.toml
Due: lock_deps, doit

docs: cleanup code tags and update
  .gitignore
  CHANGELOG.md
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/templates/text.mako
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  tests/test_doit_tasks/test_packaging.py
Due: doit

refactor: apply 0.0.10 template
  .copier-answers.yml
  docs/docs/DEVELOPER_GUIDE.md
Due: none

build: apply 0.0.10 template to .test directory
  .test_calcipy_project/.copier-answers.yml
  .test_calcipy_project/.deepsource.toml
  .test_calcipy_project/.flake8
  .test_calcipy_project/.github/ISSUE_TEMPLATE/config.yml
  .test_calcipy_project/.github/labels.yml
  .test_calcipy_project/.github/workflows/labels.yml
  .test_calcipy_project/.gitignore
  .test_calcipy_project/.pre-commit-config.yaml
  .test_calcipy_project/.pyup.yml
  .test_calcipy_project/README.md
  .test_calcipy_project/appveyor.yml
  .test_calcipy_project/docs_custom/docs/DEVELOPER_GUIDE.md
  .test_calcipy_project/dodo.py
  .test_calcipy_project/mkdocs.yml
  .test_calcipy_project/noxfile.py
  .test_calcipy_project/tests/test_zz_test_project.py
Due: doit

test: manually fix isort in test project
  .test_calcipy_project/.isort.cfg
  .test_calcipy_project/pyproject.toml
Due: lock_deps

test: update test docs
  .test_calcipy_project/.copier-answers.yml
  .test_calcipy_project/docs_custom/README.md
Due: none

test: fix failing tests
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_file_search.py
Due: doit

docs: try to resolve yaml load error when no mkdocs-material
  calcipy/file_helpers.py
Due: doit

build: migrate to calcipy subdomain
  docs/CNAME
  pyproject.toml
Due: lock_deps

build: remove unused gitignore
  docs/modules/.gitignore
Due: none

refactor: rename doc_dir to doc_sub_dir for clarity
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/file_helpers.py
  tests/test_doit_tasks/test_doc.py
Due: doit

feat: implement pandas.to_markdown for cov table
  .calcipy_packaging.lock
  calcipy/doit_tasks/doc.py
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_doit_tasks/test_doc.py
Due: lock_deps, doit

docs: fix ignore for doc_dir
  .gitignore
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
Due: none

feat: add task to zip artifacts from testing
  appveyor.yml
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/base.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

refactor: fix formatting error from pre-push
  calcipy/doit_tasks/base.py
Due: doit

build: add mkdocs-gitrev-plugin and min cz version
  .calcipy_packaging.lock
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

docs: fix errors in documentation
  calcipy/doit_tasks/packaging.py
  calcipy/log_helpers.py
  docs/README.md
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  notes.md
Due: doit

fix: run pytest as a module for nox
  calcipy/doit_tasks/test.py
Due: doit

fix: remove type_name from docstring for Google-style
  calcipy/doit_tasks/templates/text.mako
Due: none

docs: remove default, which can be seen in function
  calcipy/doit_tasks/templates/text.mako
  notes.md
Due: none

refactor: split up set_paths from DG
  calcipy/doit_tasks/doit_globals.py
Due: doit

docs: prefer python3 over py for code blocks
  calcipy/dev/conftest.py
  calcipy/dev/noxfile.py
  calcipy/log_helpers.py
  dodo.py
  tests/conftest.py
  tests/test_doit_tasks/test_doc.py
Due: doit

refactor: address DeepSource issues
  .deepsource.toml
  calcipy/doit_tasks/packaging.py
  scripts/check_imports.py
Due: doit

docs: update & fix failing test
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  notes.md
  tests/test_doit_tasks/test_doc.py
Due: doit
