Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - push

doit:
  name: doit
  entry: poetry run doit run test
  language: system
  stages:
  - push

feat: read doc_dir from copier file
  calcipy/doit_tasks/doit_globals.py
  calcipy/file_helpers.py
Due: doit

test: randomly order tests
  calcipy/doit_tasks/test.py
  calcipy/file_helpers.py
  poetry.lock
  pyproject.toml
Due: lock_deps, doit

refactor: move find file paths to DG.meta
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doit_globals.py
Due: doit

refactor: fix lint errors in YAML files
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/labels.yml
  .github/workflows/labels.yml
  .pre-commit-config.yaml
  .pyup.yml
  appveyor.yml
  docs/README.md
  mkdocs.yml
  pyproject.toml
  scripts/check_imports.py
Due: lock_deps, doit

fix: errors in ignore patterns
  calcipy/doit_tasks/doit_globals.py
  pyproject.toml
Due: lock_deps, doit

feat: lint non-Python files
  .test_calcipy_project/scripts/sample-json-file.json
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/lint.py
  poetry.lock
  pyproject.toml
  tests/test_doit_tasks/test_file_search.py
  tests/test_doit_tasks/test_lint.py
  tests/test_doit_tasks/test_wildcard.py
Due: lock_deps, doit

refactor: format with VSCode
  .deepsource.toml
  .github/ISSUE_TEMPLATE/config.yml
  .github/labels.yml
  .github/workflows/labels.yml
  .gitignore
  .pre-commit-config.yaml
  .pyup.yml
  appveyor.yml
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  docs/README.md
  mkdocs.yml
  pyproject.toml
  tests/test_doit_tasks/test_lint.py
Due: lock_deps, doit

feat: add detect-secrets as pre-commit
  .pre-commit-config.yaml
  noxfile.py
Due: doit

fix: remove check-secrets but keep snippets
  noxfile.py
Due: doit

build(#32): add a bunch of dependencies for eval
  poetry.lock
  pyproject.toml
Due: lock_deps

feat: add nox tasks
  appveyor.yml
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/test.py
  noxfile.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

docs: format toml and yml files
  .test_calcipy_project/pyproject.toml
  calcipy/doit_tasks/test.py
  poetry.lock
Due: lock_deps, doit

feat: add additional configuration options
  .test_calcipy_project/pyproject.toml
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/test.py
  poetry.lock
  tests/configuration.py
  tests/test_doit_tasks/test_doit_globals.py
  tests/test_doit_tasks/test_test.py
Due: lock_deps, doit

build: add continue to run all tasks
  appveyor.yml
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  pyproject.toml
Due: lock_deps

fix: catch most calcipy section typos in toml
  .test_calcipy_project/pyproject.toml
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doit_globals.py
  tests/configuration.py
  tests/test_doit_tasks/test_code_tag_collector.py
  tests/test_doit_tasks/test_doit_globals.py
  tests/test_doit_tasks/test_test.py
Due: lock_deps, doit

docs: capture thoughts on wrapping loguru and tasks
  .pre-commit-config.yaml
  calcipy/doit_tasks/test.py
  calcipy/log_helpers.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  pyproject.toml
Due: lock_deps, doit

feat: WIP check for stale dep & placeholder publish
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/packaging.py
  poetry.lock
  tests/test_doit_tasks/test_wildcard.py
Due: doit

feat: integrate nox to doit tasks
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
Due: doit

feat: move noxfile into calcipy
  calcipy/dev/__init__.py
  calcipy/dev/conftest.py
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/doit_globals.py
  tests/dev/__init__.py
  tests/dev/test_conftest.py
  tests/dev/test_noxfile.py
Due: doit

feat: try doit rather than CWD for initial path
  calcipy/doit_tasks/doit_globals.py
Due: doit

fix: drop logger middleware
  calcipy/log_helpers.py
Due: doit

feat: make nox imports optional
  calcipy/dev/noxfile.py
Due: doit

feat: smart default tasks for CI vs. local
  calcipy/doit_tasks/__init__.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

docs: run doit
  .pre-commit-config.yaml
  appveyor.yml
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  scripts/check_imports.py
Due: doit

fix: suppress beartype warnings for now
  calcipy/__init__.py
Due: doit

fix: errors caught in testing
  .isort.cfg
  .pre-commit-config.yaml
  .test_calcipy_project/tests/conftest.py
  calcipy/dev/conftest.py
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/file_helpers.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/dev/test_noxfile.py
  tests/test_doit_tasks/test_wildcard.py
Due: lock_deps, doit

refactor: auto-drop skipcq comment
  tests/test_doit_tasks/test_wildcard.py
Due: doit

feat: begin implementing stale package check
  .test_calcipy_project/poetry.lock
  .test_calcipy_project/pyproject.toml
  calcipy/doit_tasks/packaging.py
  pyproject.toml
  tests/conftest.py
  tests/test_doit_tasks/cassettes/test_packaging/test_get_release_date.yaml
  tests/test_doit_tasks/test_packaging.py
Due: lock_deps, doit

feat: implement check for stale packages
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/test.py
  tests/test_doit_tasks/cassettes/test_packaging/test_find_stale_packages.yaml
  tests/test_doit_tasks/test_packaging.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

fix: improve output from check_stale
  .calcipy_packaging.lock
  calcipy/doit_tasks/packaging.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  poetry.lock
Due: doit

refactor: apply pre-commit autoformat
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  tests/test_doit_tasks/test_packaging.py
Due: doit

fix: show log warning instead of error for stale dep
  calcipy/doit_tasks/packaging.py
  tests/test_doit_tasks/test_file_search.py
  tests/test_doit_tasks/test_packaging.py
Due: doit

fix: run push pre-commit hooks with doit
  calcipy/doit_tasks/lint.py
Due: doit

build: ignore cassettes from detect secrets
  .gitignore
  .pre-commit-config.yaml
Due: none

feat: add pip outdated to stale check
  calcipy/doit_tasks/packaging.py
  notes.md
  tests/test_doit_tasks/test_packaging.py
Due: doit

build: fix check of appveyor username
  appveyor.yml
  calcipy/doit_tasks/__init__.py
Due: doit

build: try to troubleshoot missing .venv on AppVeyor
  appveyor.yml
Due: none

fix: import and nox syntax errors
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  calcipy/file_helpers.py
  notes.md
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: lock_deps, doit

feat: implement publish tasks
  calcipy/doit_tasks/packaging.py
  tests/test_doit_tasks/test_packaging.py
Due: doit

feat(#36): WIP implementation of doc formatting
  .test_calcipy_project/docs_custom/sub/CODE_OF_CONDUCT.md
  .test_calcipy_project/docs_custom/sub/CONTRIBUTING.md
  .test_calcipy_project/docs_custom/sub/DEVELOPER_GUIDE.md
  .test_calcipy_project/docs_custom/sub/README.md
  .test_calcipy_project/docs_custom/sub/SECURITY.md
  .test_calcipy_project/docs_custom/sub/STYLE_GUIDE.md
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  poetry.lock
  tests/data/sample_doc_files/README.md
  tests/test_doit_tasks/test_doc.py
Due: doit

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: pyproject.toml
  doit: any of: \.py
