Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - push

doit:
  name: doit
  entry: poetry run doit run test
  language: system
  stages:
  - push

refactor: minor cleanup to docs
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/doc.py
  tests/test_doit_tasks/test_doc.py
Due: doit

feat: drop subprocess-tee
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/test.py
  poetry.lock
  pyproject.toml
  tests/test_doit_tasks/test_test.py
Due: lock_deps, doit

feat(#38): re-implement coverage and write source
  calcipy/doit_tasks/doc.py
  tests/data/sample_doc_files/README.md
  tests/test_doit_tasks/test_doc.py
Due: doit

docs: update with doit
  .calcipy_packaging.lock
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
Due: none

refactor(#38): reduce complexity
  calcipy/doit_tasks/doc.py
Due: doit

test: handle edge case of test file being autoformatted
  calcipy/doit_tasks/doc.py
  tests/data/sample_doc_files/README.md
  tests/test_doit_tasks/test_doc.py
Due: doit

test(#35): surpass 95% coverage
  tests/test_doit_tasks/test_code_tag_collector.py
Due: doit

docs: update with doit
  calcipy/doit_tasks/packaging.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  tests/test_doit_tasks/test_code_tag_collector.py
Due: doit

refactor: minor fixes from AppVeyor testing
  appveyor.yml
  calcipy/file_helpers.py
  noxfile.py
  tests/test_doit_tasks/test_doc.py
Due: doit

build: try other changes to debug AppVeyor failures
  appveyor.yml
Due: none

build: cleanup AppVeyor debugging. Try installing virtualenv
  appveyor.yml
  calcipy/doit_tasks/__init__.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
Due: doit

feat: move lock into doit tasks with file-dependency
  .pre-commit-config.yaml
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/packaging.py
  docs/CODE_TAG_SUMMARY.md
  tests/test_doit_tasks/test_packaging.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

fix: packaging needed keyword argument
  .test_calcipy_project/README.md
  calcipy/doit_tasks/packaging.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  tests/test_doit_tasks/test_packaging.py
Due: doit

refactor: fix some type issues
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
Due: doit

build: try installing poetry with curl on Linux
  appveyor.yml
Due: none

build: restore pipx install and try deactivate
  appveyor.yml
Due: none

build: use python3 in place of stack
  appveyor.yml
Due: none

build: restore AppVeyor stack
  appveyor.yml
  calcipy/doit_tasks/test.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
Due: doit

build: try with PYTHON_NIX path
  appveyor.yml
Due: none

fix: repair failing test
  appveyor.yml
  calcipy/doit_tasks/test.py
Due: doit

build: try tilde instead of $HOME
  appveyor.yml
Due: none

build: remove unsuccessful AppVeyor edits
  appveyor.yml
Due: none

build: try fix for codecov
  appveyor.yml
Due: none

build: fix codecov upload
  appveyor.yml
Due: none

build: install pyenv in AppVeyor
  appveyor.yml
Due: none

build: fix pyenv initialization
  appveyor.yml
Due: none

build: remove slow test task from pre-commit hook
  .pre-commit-config.yaml
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  pyproject.toml
Due: lock_deps

build: try caching .pyenv
  appveyor.yml
Due: none

build: pin pyenv versions
  appveyor.yml
Due: none

fix: deconflict doit/nox
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/__init__.py
  tests/dev/test_noxfile.py
Due: doit

build: fix syntax for bash PYENV_* variables
  appveyor.yml
Due: none

refactor: create generic doit-runner for noxfile
  calcipy/dev/noxfile.py
  pyproject.toml
Due: lock_deps, doit

docs: autorun doit and lock
  .calcipy_packaging.lock
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  poetry.lock
Due: none

build: install pyenv only if not cached
  appveyor.yml
Due: none

Add license scan report and status
  README.md
Due: none

build: add requirements.txt for fossa and other tools
  calcipy/doit_tasks/packaging.py
  requirements.txt
Due: doit

build: .pyenv is dir, not file for AppVeyor
  appveyor.yml
Due: none

build: shorten CI runtime
  appveyor.yml
  calcipy/doit_tasks/__init__.py
Due: doit

build: export entire requirements file
  .pre-commit-config.yaml
  calcipy/doit_tasks/packaging.py
  requirements.txt
Due: doit

feat: add task to check license compliance
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/packaging.py
  pyproject.toml
  tests/test_doit_tasks/test_wildcard.py
Due: lock_deps, doit

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: pyproject.toml
  doit: any of: \.py
