Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, python-formatter, toml-formatter

copier-forbidden-files:
  name: copier_forbidden_files
  entry: 'Found copier update rejection files; review them and remove them
  
    (https://copier.readthedocs.io/en/stable/updating/)
  
    '
  language: fail

python-formatter:
  name: Python Auto-Formatter
  description: Apply calcipy formatting
  language: system
  entry: poetry run doit run --db-file=./.doit.tmp-py format_py

toml-formatter:
  name: Optional TOML Auto-Formatter
  description: Install taplo with 'npm install -g @taplo/cli'
  language: system
  entry: poetry run doit run --db-file=./.doit.tmp-toml format_toml

test: remove broken flake8-strftime and fix mypy error
  calcipy/dev/conftest.py
  docs/README.md
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

build: copier update
  .copier-answers.yml
  .flake8
  .github/actions/setup/action.yml
  .pre-commit-config.yaml
  .pylintrc
  dodo.py
  mkdocs.yml
Due: python-formatter

test: make all flake8 lint paths relative for cache assertion
  .calcipy_packaging.lock
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  tests/assert-cache/test_doit_tasks/test_lint/test_lint_python.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_critical_only.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_project.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_python.json
Due: python-formatter

bump: version 0.20.1 → 0.21.0
  calcipy/__init__.py
  pyproject.toml
Due: python-formatter, toml-formatter

fix: bump minimum mkdocs for deploy_docs
  poetry.lock
  pyproject.toml
Due: toml-formatter

fix: install poetry for 'doit publish'
  calcipy/dev/noxfile.py
Due: python-formatter

test: fix failing lint test
  .calcipy_packaging.lock
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/assert-cache/test_doit_tasks/test_lint/test_lint_python.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_critical_only.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_project.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_python.json
Due: python-formatter

bump: version 0.21.0 → 0.21.1
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: python-formatter, toml-formatter

fix: bump minimum pip-check
  poetry.lock
  pyproject.toml
Due: toml-formatter

fix: ensure that cz bump doesn't break the requirements file
  calcipy/doit_tasks/doc.py
Due: python-formatter

fix: add relative path prefix for linting './'
  .test_calcipy_project/docs_custom/docs/CODE_OF_CONDUCT.md
  .test_calcipy_project/docs_custom/docs/CONTRIBUTING.md
  .test_calcipy_project/docs_custom/docs/SECURITY.md
  calcipy/doit_tasks/lint.py
  docs/README.md
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

bump: version 0.21.1 → 0.21.2
  calcipy/__init__.py
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: python-formatter, toml-formatter

fix: exit 1 on semgrep errors
  .calcipy_packaging.lock
  calcipy/dev/conftest.py
  calcipy/doit_tasks/lint.py
  calcipy/file_helpers.py
  calcipy/proc_helpers.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  tests/assert-cache/test_doit_tasks/test_code_tags/test_task_collect_code_tags.json
  tests/assert-cache/test_doit_tasks/test_doc/test_task_cl_bump.json
  tests/assert-cache/test_doit_tasks/test_lint/test_lint_python.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_critical_only.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_project.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_python.json
  tests/conftest.py
Due: python-formatter

fix: remove unimplemented diff-cover
  .calcipy_packaging.lock
  .pylintrc
  calcipy/dev/conftest.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  tests/assert-cache/test_doit_tasks/test_lint/test_lint_python.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_critical_only.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_project.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_python.json
  tests/assert-cache/test_doit_tasks/test_test/test_task_coverage.json
  tests/test_doit_tasks/test_doit_globals.py
Due: python-formatter, toml-formatter

bump: version 0.21.2 → 0.21.3
  calcipy/__init__.py
  pyproject.toml
Due: python-formatter, toml-formatter

fix: add support for tomllib in Python 3.11!
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_zz_calcipy.py
Due: python-formatter, toml-formatter

fix: suppress code tag failures when not a git directory
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/lint.py
Due: python-formatter

refactor: copier update
  .copier-answers.yml
  .flake8
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  docs/README.md
  mkdocs.yml
  tests/test_zz_calcipy.py
Due: python-formatter

fix: handle % in path names for ctt
  calcipy/doit_tasks/lint.py
Due: python-formatter

bump: version 0.21.3 → 0.21.4
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: python-formatter, toml-formatter

fix: escape % in yaml files as well
  .test_calcipy_project/{% if percentage %}placeholder.yml
  calcipy/doit_tasks/lint.py
  noxfile.py
  pyproject.toml
  tests/assert-cache/test_doit_tasks/test_code_tags/test_task_collect_code_tags.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_critical_only.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_project.json
Due: python-formatter, toml-formatter

docs: update copier with new _docs file
  .calcipy_packaging.lock
  .copier-answers.yml
  .pre-commit-config.yaml
  .test_calcipy_project/pyproject.toml
  docs/_styles/mkdocstrings.css
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  docs/docs/_docs.md
  mkdocs.yml
  poetry.lock
Due: toml-formatter

bump: version 0.21.4 → 0.21.5
  calcipy/__init__.py
  pyproject.toml
Due: python-formatter, toml-formatter

build: bump minimum click for semgrep
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
Due: toml-formatter

ci: update with copier
  .copier-answers.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/setup/action.yml
  .github/codeql-config.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  docs/docs/Advanced_Documentation.md
  mkdocs.yml
  tests/test_zz_calcipy.py
Due: python-formatter

ci: bump to 3.8.12 for CI
  .copier-answers.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  tests/test_zz_calcipy.py
Due: python-formatter

'Refactored by Sourcery'
  sync_toml_minimums.py
Due: python-formatter

build: add actionlint, flake8-beartype, and restore pdbpp in debug extra
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: toml-formatter

feat: use the --now flag for ptw!
  calcipy/doit_tasks/test.py
  tests/assert-cache/test_doit_tasks/test_test/test_task_ptw_current.json
  tests/assert-cache/test_doit_tasks/test_test/test_task_ptw_ff.json
  tests/assert-cache/test_doit_tasks/test_test/test_task_ptw_marker.json
  tests/assert-cache/test_doit_tasks/test_test/test_task_ptw_not_interactive.json
Due: python-formatter

ci: run pre-commit
  .github/workflows/ci_pipeline.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .pre-commit-config.yaml
  .sourcery.yaml
  .test_calcipy_project/.github/workflows/labels.yml
  .test_calcipy_project/appveyor.yml
  .test_calcipy_project/mkdocs.yml
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  mkdocs.yml
  rule.yaml
Due: none

refactor: remove autoflake in favor of unimport
  .calcipy_packaging.lock
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  poetry.lock
  pyproject.toml
  tests/assert-cache/test_doit_tasks/test_lint/test_task_auto_format.json
Due: python-formatter, toml-formatter

build: copier update
  .copier-answers.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
Due: none

test gh protect
  .flake8
Due: none

init: calcipy-flake8
  calcipy-flake8/README.md
  calcipy-flake8/calcipy_flake8/__init__.py
  calcipy-flake8/poetry.lock
  calcipy-flake8/pyproject.toml
Due: python-formatter, toml-formatter

docs: quick pass comparing ruff and flake8
  ruff_diff.py
Due: python-formatter

build: run pre-commit
  .calcipy_packaging.lock
  .github/ABOUT.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/actions/setup/action.yml
  .github/codeql-config.yml
  .github/labels.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .sourcery.yaml
  .test_calcipy_project/.github/ISSUE_TEMPLATE/config.yml
  .test_calcipy_project/.github/workflows/labels.yml
  .test_calcipy_project/appveyor.yml
  .test_calcipy_project/mkdocs.yml
  .yamllint.yaml
  calcipy-flake8/pyproject.toml
  calcipy/cli/controllers/code_tag_collector_controller.py
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/summary_reporter.py
  docs/README.md
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/gen_ref_nav.py
  mkdocs.yml
  poetry.lock
  ruff_diff.py
  rule.yaml
  sync_toml_minimums.py
Due: python-formatter, toml-formatter

[create-pull-request] automated change
  poetry.lock
Due: none

docs: restore doc files from v0
  docs/Advanced_Configuration.md
  docs/Calcipy.sketch
  docs/README.md
  docs/calcipy-banner-wide.svg
  docs/calcipy-banner.svg
  docs/calcipy-square.svg
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  dodo.py
Due: python-formatter

feat: add shoal
  poetry.lock
  pyproject.toml
Due: toml-formatter

Path conditions:
  copier-forbidden-files: any of: \.rej$
  python-formatter: any of: \.py$
  toml-formatter: any of: \.toml$, but not: poetry\.lock
