Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, python-formatter, toml-formatter

copier-forbidden-files:
  name: copier_forbidden_files
  entry: 'Found copier update rejection files; review them and remove them
  
    (https://copier.readthedocs.io/en/stable/updating/)
  
    '
  language: fail

python-formatter:
  name: Python Auto-Formatter
  description: Apply calcipy formatting
  language: system
  entry: poetry run doit run format_py
  stages:
  - push

toml-formatter:
  name: Optional TOML Auto-Formatter
  description: Install taplo with 'npm install -g @taplo/cli'
  language: system
  entry: poetry run doit run format_toml

feat: create script to bump toml minimum requirements
  poetry.lock
  pyproject.toml
  sync_toml_minimums.py
Due: python-formatter, toml-formatter

fix: handle prefix of "*"
  pyproject.toml
  sync_toml_minimums.py
Due: python-formatter, toml-formatter

build: try removing requirement for livereload
  pyproject.toml
Due: toml-formatter

fix: try to handle pypi response when no "releases"
  .calcipy_packaging.lock
  calcipy/doit_tasks/packaging.py
Due: python-formatter

docs: thinking about ideas for next steps with calcipy
  ideas-toml.md
  sync_toml_minimums.py
Due: python-formatter

feat: init update workflow and toml sorter
  .github/workflows/upgrade-dependencies.yml
  .pre-commit-config.yaml
  ideas-toml.md
Due: none

test: add messy toml file for testing pre-commit
  messy-python-cfonts.toml
Due: toml-formatter

build: try out the new toml formatter
  .pre-commit-config.yaml
  messy-python-cfonts.toml
Due: toml-formatter

build: restore taplo for toml formatting
  .pre-commit-config.yaml
  ideas-toml.md
  messy-python-cfonts.toml
Due: toml-formatter

fix: use the unversioned API for releases
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/doit_tasks/packaging.py
  ideas-toml.md
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

build!: bump Python to 3.8.4 and drop 3.7
  poetry.lock
  pyproject.toml
Due: toml-formatter

fix: correct safety arguments
  calcipy/dev/noxfile.py
Due: python-formatter

test: fix failing tests from the PyPi API
  .calcipy_packaging.lock
  calcipy/doit_tasks/packaging.py
  poetry.lock
  pyproject.toml
  tests/test_doit_tasks/cassettes/test_packaging/test_find_stale_packages.yaml
  tests/test_doit_tasks/cassettes/test_packaging/test_get_release_date.yaml
  tests/test_doit_tasks/test_packaging.py
Due: python-formatter, toml-formatter

fix: try to use separate sqlite files for pre-commit and doit
  .pre-commit-config.yaml
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/__init__.py
  sync_toml_minimums.py
Due: python-formatter

build: finish dropping Python 3.7
  .github/workflows/ci_pipeline.yml
  .github/workflows/upgrade-dependencies.yml
  .tool-versions
  pyproject.toml
Due: toml-formatter

fix: properly handle missing datetime
  .calcipy_packaging.lock
  .gitignore
  calcipy/doit_tasks/packaging.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: python-formatter

bump: version 0.14.5 → 0.15.0rc0
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: python-formatter, toml-formatter

fix: resolve pyroma errors by installing poetry as a module
  calcipy/dev/noxfile.py
Due: python-formatter

build: fix Python Version
  .github/workflows/upgrade-dependencies.yml
Due: none

Automated dependency upgrades
  poetry.lock
Due: none

build: pin poetry version for upgrades
  .github/workflows/upgrade-dependencies.yml
Due: none

build: update dependencies to use Python@v4 workflow
  .github/actions/setup/action.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
Due: none

build: drop pre-commit from CI
  .github/ABOUT.md
  .github/workflows/ci_pipeline.yml
Due: none

docs: fix typo for expanded acronym
  docs/adr/README.md
Due: none

docs: update documentation
  .pre-commit-config.yaml
  calcipy/code_tag_collector.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: python-formatter

build: drop hacking, which pinned flake8
  .calcipy_packaging.lock
  .flake8
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/summary_reporter.py
  poetry.lock
  pyproject.toml
  tests/test_doit_tasks/test_packaging.py
Due: python-formatter, toml-formatter

build: fix missing shell for GHA
  .github/actions/setup/action.yml
Due: none

bump: version 0.15.0rc0 → 0.15.0
  calcipy/__init__.py
  pyproject.toml
Due: python-formatter, toml-formatter

docs: bump Changelog version
  docs/docs/CHANGELOG.md
Due: none

fix: show only date in coverage table
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/doit_tasks/doc.py
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
Due: python-formatter

feat: add flake8-simplify
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  ideas-toml.md
  poetry.lock
  pyproject.toml
Due: toml-formatter

bump: version 0.15.0 → 0.16.0
  calcipy/__init__.py
  pyproject.toml
Due: python-formatter, toml-formatter

build: switch to create-pull-request
  .github/workflows/upgrade-dependencies.yml
Due: none

build: add Sketch project
  docs/Calcipy.sketch
Due: none

[create-pull-request] automated change
  poetry.lock
Due: none

test: fix failing test
  .pre-commit-config.yaml
  docs/docs/CHANGELOG.md
  tests/test_doit_tasks/test_doc.py
Due: python-formatter

feat: update to latest copier
  .copier-answers.yml
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/labels.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .gitignore
  .pre-commit-config.yaml
  docs/adr/README.md
Due: none

refactor: upgrade copier with linting fixes
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/actions/setup/action.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .pre-commit-config.yaml
  calcipy/doit_tasks/code_tags.py
  ideas-toml.md
  noxfile.py
Due: python-formatter

build: bump dependencies with poetry 1.2
  poetry.lock
Due: none

build: run prdc
  .calcipy_packaging.lock
  .copier-answers.yml
  .pre-commit-config.yaml
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
Due: none

Path conditions:
  copier-forbidden-files: any of: \.rej$
  python-formatter: any of: \.py$
  toml-formatter: any of: \.toml$, but not: poetry\.lock
