Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - push

doit:
  name: doit
  entry: poetry run doit run test
  language: system
  stages:
  - push

build: drop markdown-include and IT
  .calcipy_packaging.lock
  .test_calcipy_project/mkdocs.yml
  .test_calcipy_project/poetry.lock
  .test_calcipy_project/pyproject.toml
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

feat: create Github release if gh CLI is installed
  calcipy/doit_tasks/doc.py
Due: doit

bump: version 0.9.1 → 0.10.0
  appveyor.yml
  calcipy/__init__.py
  calcipy/doit_tasks/doc.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  pyproject.toml
  tests/test_doit_tasks/test_doc.py
Due: lock_deps, doit

build: replace unmaintained flake8-commas with add-trailing-comma
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_lint.py
Due: lock_deps, doit

'Refactored by Sourcery'
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/lint.py
Due: doit

refactor: move pre-commit hooks into doit
  .pre-commit-config.yaml
  calcipy/doit_tasks/lint.py
Due: doit

build: use localized mkdocs plugin
  .calcipy_packaging.lock
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

build: update dependencies
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  poetry.lock
  requirements.txt
Due: none

doc: run doit
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
Due: none

build: copier update
  .copier-answers.yml
  .gitignore
  docs/docs/DEVELOPER_GUIDE.md
Due: none

refactor: use beartype typing
  calcipy/__init__.py
  calcipy/cli/core/version.py
  calcipy/code_tag_collector.py
  calcipy/dev/conftest.py
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/summary_reporter.py
  calcipy/dot_dict.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/log_helpers.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/configuration.py
  tests/conftest.py
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_doit_globals.py
Due: lock_deps, doit

test: fixup failing tests
  .test_calcipy_project/scripts/sample-json-file.json
  calcipy/doit_tasks/lint.py
  docs/docs/DEVELOPER_GUIDE.md
  tests/conftest.py
  tests/test_doit_tasks/test_lint.py
Due: doit

refactor: remove jsonlint action
  calcipy/doit_tasks/lint.py
Due: doit

refactor: make run_cmd public
  calcipy/code_tag_collector.py
  calcipy/proc_helpers.py
  tests/test_proc_helpers.py
Due: doit

build: run doit
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: none

refactor: reduce noise on matched vulnerabilities
  calcipy/dev/noxfile.py
Due: doit

build: update copier
  .copier-answers.yml
  .pre-commit-config.yaml
  .pyup.yml
  .sourcery.yaml
  appveyor.yml
  docs/docs/DEVELOPER_GUIDE.md
Due: doit

'Refactored by Sourcery'
  calcipy/doit_tasks/summary_reporter.py
  calcipy/file_helpers.py
Due: doit

refactor: format fixes
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/test_proc_helpers.py
Due: doit

feat: don't verify on cz_bump
  calcipy/doit_tasks/doc.py
Due: doit

bump: version 0.10.0 → 0.11.0
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

Revert "refactor: reduce noise on matched vulnerabilities"
  calcipy/dev/noxfile.py
Due: doit

build: update copier template
  .copier-answers.yml
  .github/labels.yml
  .pre-commit-config.yaml
Due: none

feat: initialize calcipy pre-commit hook
  .pre-commit-hooks.yaml
Due: none

build: update copier
  .copier-answers.yml
  docs/docs/DEVELOPER_GUIDE.md
  mkdocs.yml
  pyproject.toml
Due: lock_deps

bump: version 0.11.0 → 0.12.0
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

docs: upate changelog
  docs/docs/CHANGELOG.md
Due: none

fix: use short paths when formatting Python code if available
  calcipy/doit_tasks/lint.py
Due: doit

fix: always return 0 to complete format task
  calcipy/doit_tasks/lint.py
Due: doit

bump: version 0.12.0 → 0.12.1
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

docs: update changelog
  docs/docs/CHANGELOG.md
Due: none

build: copier update
  .copier-answers.yml
  .pre-commit-config.yaml
  .pyup.yml
Due: doit

build: copier update
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  docs/adr/NNN-Template.md
  docs/docs/CODE_OF_CONDUCT.md
  docs/docs/CONTRIBUTING.md
  docs/docs/STYLE_GUIDE.md
Due: none

build: copier update test project
  .test_calcipy_project/.copier-answers.yml
  .test_calcipy_project/.github/ISSUE_TEMPLATE/bug_report.md
  .test_calcipy_project/.github/ISSUE_TEMPLATE/feature_request.md
  .test_calcipy_project/.github/ISSUE_TEMPLATE/question.md
  .test_calcipy_project/.github/PULL_REQUEST_TEMPLATE.md
  .test_calcipy_project/.github/labels.yml
  .test_calcipy_project/.gitignore
  .test_calcipy_project/.pre-commit-config.yaml
  .test_calcipy_project/.pylintrc
  .test_calcipy_project/.pyup.yml
  .test_calcipy_project/.sourcery.yaml
  .test_calcipy_project/README.md
  .test_calcipy_project/_adr/NNN-Template.md
  .test_calcipy_project/appveyor.yml
  .test_calcipy_project/docs_custom/README.md
  .test_calcipy_project/docs_custom/_javascript/tables.js
  .test_calcipy_project/docs_custom/adr/NNN-Template.md
  .test_calcipy_project/docs_custom/adr/README.md
  .test_calcipy_project/docs_custom/docs/CODE_OF_CONDUCT.md
  .test_calcipy_project/docs_custom/docs/CONTRIBUTING.md
  .test_calcipy_project/docs_custom/docs/DEVELOPER_GUIDE.md
  .test_calcipy_project/docs_custom/docs/STYLE_GUIDE.md
  .test_calcipy_project/dodo.py
  .test_calcipy_project/mkdocs.yml
  .test_calcipy_project/scripts/check_imports.py
  .test_calcipy_project/tests/configuration.py
  .test_calcipy_project/tests/conftest.py
  .test_calcipy_project/tests/test_zz_test_project.py
Due: doit

docs: add pre-commit documentation
  docs/README.md
Due: none

test: update for new tables.js file
  tests/test_file_search.py
Due: doit

build: copier update
  .copier-answers.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
Due: none

build: update minimum Python to 3.7.12
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

fix: skip cassette files
  .pre-commit-config.yaml
Due: none

bump: version 0.12.1 → 0.12.2
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: pyproject.toml
  doit: any of: \.py
