Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      # - id: check-yaml  # The mkdocs YAML file isn't valid...
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
        stages: [push]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.14.2
    hooks:
      - id: commitizen
        additional_dependencies: ["git+https://github.com/KyleKing/cz_legacy.git@bfff2ab4134c26a31f1e7f9c3a8d4bedba824b08"]
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        entry: poetry lock
        language: system
        files: pyproject.toml
        stages: [push]
      - id: doit
        name: doit
        entry: poetry run doit run test
        language: system
        files: "\\.py"
        stages: [push]

docs: document calcipy CLI use
  docs/README.md
Due: none

fix: cct was not being created as an alias. Use full command
  calcipy/cli/controllers/code_tag_collector_controller.py
  calcipy/code_tag_collector.py
  docs/README.md
Due: doit

bump: version 0.6.0 → 0.7.0
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

docs: fix README syntax error
  docs/README.md
Due: none

fix: Code Tag Collector cannot return a Path for DoIt tasks
  .pre-commit-config.yaml
  calcipy/cli/controllers/code_tag_collector_controller.py
  calcipy/code_tag_collector.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: doit

bump: version 0.7.0 → 0.7.1
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

build: update dependencies
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
Due: none

feat: add pip-check for prettier outdated
  .calcipy_packaging.lock
  calcipy/doit_tasks/packaging.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_doit_tasks/test_packaging.py
Due: lock_deps, doit

fix: only run pre-commit once
  calcipy/doit_tasks/lint.py
  tests/test_doit_tasks/test_lint.py
Due: doit

fix: code_tag_collector must return doit-compliant value (None)
  .pre-commit-config.yaml
  calcipy/cli/controllers/code_tag_collector_controller.py
  calcipy/code_tag_collector.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: doit

'Refactored by Sourcery'
  calcipy/doit_tasks/packaging.py
Due: doit

refactor: fix PY-W2000 by using __all__
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
Due: doit

bump: version 0.7.1 → 0.8.0
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

fix: bump year to 2022
  pyproject.toml
Due: lock_deps

refactor: drop tag_format and use semver-only
  pyproject.toml
Due: lock_deps

bump: version 0.8.0 → 0.8.1
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

fix: drop all references to CalVer
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

bump: version 0.8.1 → 0.8.2
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

feat: add support for TOML formatting with taplo
  .pre-commit-config.yaml
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/lint.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

docs: update with doit
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: none

fix: correct syntax error in pre-commit command
  .pre-commit-config.yaml
  calcipy/doit_tasks/lint.py
Due: doit

fix: use positional arguments for pre-commit commands
  .pre-commit-config.yaml
  .test_calcipy_project/pyproject.toml
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
Due: lock_deps, doit

feat: add python format pre-commit hook
  .pre-commit-config.yaml
  calcipy/doit_tasks/lint.py
Due: doit

feat: add git links to code tag summary
  calcipy/code_tag_collector.py
  docs/docs/CODE_TAG_SUMMARY.md
Due: doit

refactor: apply auto-format tools to test project
  .test_calcipy_project/dodo.py
  .test_calcipy_project/tests/configuration.py
  .test_calcipy_project/tests/conftest.py
  .test_calcipy_project/tests/test_zz_test_project.py
Due: doit

feat: use revision-specific commit hashes
  calcipy/code_tag_collector.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
Due: doit

refactor: make slow python pre-commit push-only
  .pre-commit-config.yaml
  docs/docs/CHANGELOG.md
  notes.md
Due: none

fix: handle git dependencies when checking stale packages
  TODO.txt
  calcipy/doit_tasks/packaging.py
Due: doit

feat: only link code tag from line number
  calcipy/code_tag_collector.py
  docs/docs/CODE_TAG_SUMMARY.md
Due: doit

build: regular dependency update
  .calcipy_packaging.lock
  poetry.lock
  requirements.txt
Due: none

fix: use correct line number for pinned hash
  calcipy/code_tag_collector.py
  docs/docs/CODE_TAG_SUMMARY.md
Due: doit

feat: add date of last blame to code tag summary
  calcipy/code_tag_collector.py
  docs/docs/CODE_TAG_SUMMARY.md
  pyproject.toml
Due: lock_deps, doit

feat: show code tag summary as a table
  .pre-commit-config.yaml
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  docs/_javascript/tables.js
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  mkdocs.yml
  pyproject.toml
Due: lock_deps, doit

fix: handle non-git directories
  calcipy/code_tag_collector.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/test_code_tag_collector.py
Due: doit

fix: handle "0000.." hash by using branch name
  calcipy/code_tag_collector.py
  docs/docs/CODE_TAG_SUMMARY.md
Due: doit

bump: version 0.8.2 → 0.9.0
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

refactor: drop template echo command
  calcipy/cli/controllers/base_controller.py
  calcipy/cli/main.py
  docs/README.md
Due: doit

fix: use target file's directory for git info
  calcipy/code_tag_collector.py
Due: doit

fix: correct code-tag-collector for CLI use
  calcipy/code_tag_collector.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: doit

bump: version 0.9.0 → 0.9.1
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit
