Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, python-formatter, toml-formatter

copier-forbidden-files:
  name: copier_forbidden_files
  entry: 'Found copier update rejection files; review them and remove them
  
    (https://copier.readthedocs.io/en/stable/updating/)
  
    '
  language: fail

python-formatter:
  name: Python Auto-Formatter
  description: Apply calcipy formatting
  language: system
  entry: poetry run doit run format_py
  stages:
  - push

toml-formatter:
  name: Optional TOML Auto-Formatter
  description: Install taplo with 'npm install -g @taplo/cli'
  language: system
  entry: poetry run doit run format_toml

'Refactored by Sourcery'
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/proc_helpers.py
Due: python-formatter

docs: merge README with copier template
  docs/README.md
Due: none

build: run prdc
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/assert-cache/test_doit_tasks/test_lint/test_lint_python.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_auto_format.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_critical_only.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_project.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_lint_python.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_pre_commit_hooks.json
  tests/assert-cache/test_doit_tasks/test_lint/test_task_radon_lint.json
Due: none

build: update mypy to support per-file ignores
  calcipy/doit_tasks/doit_globals.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

refactor: add type hints and minor changes for mypy
  calcipy/cli/controllers/code_tag_collector_controller.py
  calcipy/cli/core/version.py
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/summary_reporter.py
  calcipy/file_helpers.py
  calcipy/file_search.py
  calcipy/log_helpers.py
Due: python-formatter

feat: support Arrow in pydantic and mypy (ArrowType was causing errors)
  calcipy/doit_tasks/packaging.py
Due: python-formatter

type: add ignore comments where not fixable
  calcipy/cli/controllers/code_tag_collector_controller.py
  calcipy/cli/main.py
  calcipy/dev/conftest.py
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/summary_reporter.py
  calcipy/file_helpers.py
  calcipy/proc_helpers.py
Due: python-formatter

type: add missing ignore
  calcipy/dev/noxfile.py
Due: python-formatter

bump: version 0.17.1 → 0.18.0
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: python-formatter, toml-formatter

ci: fix missing noqa causing CI to fail
  calcipy/doit_tasks/packaging.py
Due: python-formatter

ci: remove DeepSource comments
  .test_calcipy_project/dodo.py
  calcipy/doit_tasks/__init__.py
  dodo.py
  scripts/check_imports.py
  tests/test_doit_tasks/test_wildcard.py
Due: python-formatter

ci: remove contextmanager hack for DeepSource
  calcipy/log_helpers.py
Due: python-formatter

build: run prdc
  .calcipy_packaging.lock
  calcipy/doit_tasks/doit_globals.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: python-formatter

feat: support optional logging of arguments
  calcipy/code_tag_collector.py
  calcipy/log_helpers.py
  docs/docs/CODE_TAG_SUMMARY.md
Due: python-formatter

fix: split mypy install from mypy run
  .pre-commit-config.yaml
  calcipy/doit_tasks/test.py
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/assert-cache/test_doit_tasks/test_test/test_task_check_types.json
Due: python-formatter

bump: version 0.18.0 → 0.19.0
  calcipy/__init__.py
  pyproject.toml
Due: python-formatter, toml-formatter

build: drop unused ADRs
  .copier-answers.yml
  .sourcery.yaml
  docs/adr/NNN-Template.md
  docs/adr/README.md
Due: none

fix: don't auto-install types
  calcipy/doit_tasks/test.py
  tests/assert-cache/test_doit_tasks/test_test/test_task_check_types.json
Due: python-formatter

bump: version 0.19.0 → 0.19.1
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
  pyproject.toml
Due: python-formatter, toml-formatter

build: update lockfile
  poetry.lock
Due: none

build: switch to development on main
  .copier-answers.yml
  .flake8
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/upgrade-dependencies.yml
  .gitignore
Due: none

feat: add plantuml generation to mkdocs
  .copier-answers.yml
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: toml-formatter

fix: remove version conflict with flake8-simplify and cl_bump
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: toml-formatter

feat: sign commitizen tags
  calcipy/doit_tasks/doc.py
  docs/docs/CHANGELOG.md
  tests/assert-cache/test_doit_tasks/test_doc/test_task_cl_bump.json
Due: python-formatter

bump: version 0.19.1 → 0.20.0
  calcipy/__init__.py
  pyproject.toml
Due: python-formatter, toml-formatter

build: sync lock file post-tag creation
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
Due: none

build: copier update
  .copier-answers.yml
  .mypy.ini
  dodo.py
  mkdocs.yml
Due: python-formatter

fix: drop pdbpp and add flake8-fine-pytest
  poetry.lock
  pyproject.toml
Due: toml-formatter

bump: version 0.20.0 → 0.20.1
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: python-formatter, toml-formatter

fix: add pdbr with rich to replace pdbpp
  poetry.lock
  pyproject.toml
Due: toml-formatter

build: unpin minimum numpy and lower pydantic floor
  poetry.lock
  pyproject.toml
Due: toml-formatter

feat: merge extra flake8 packages based on flake8-aggressive
  calcipy/doit_tasks/lint.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

feat: remove if-expr and other unnecessary new flake8 plugins
  calcipy/doit_tasks/doit_globals.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

build: remove flake8-cognitive-complexity
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-formatter

build: resolve deprecation errors and better handle missing lxml
  calcipy/dev/conftest.py
Due: python-formatter

docs: add alternatives for dot dict
  calcipy/dot_dict.py
Due: python-formatter

build: poetry update
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  poetry.lock
Due: none

fix: prevent line break in table for Code Tag summary
  calcipy/code_tag_collector.py
Due: python-formatter

Path conditions:
  copier-forbidden-files: any of: \.rej$
  python-formatter: any of: \.py$
  toml-formatter: any of: \.toml$, but not: poetry\.lock
