Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, python-formatter, toml-formatter

.pre-commit-config.yaml:

---
# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --all-files --hook-stage commit
# poetry run pre-commit run --all-files --hook-stage push
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: [--fix=auto]
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.21.2
    hooks:
      - id: commitizen
        additional_dependencies: [cz_legacy]
        stages: [commit-msg]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.13
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-beautysh
          - mdformat-black
          - mdformat-config
          - mdformat-frontmatter
          - mdformat-gfm
          - mdformat-tables
          - mdformat-toc
          - mdformat-web
        exclude: _.*\.md|CHANGELOG\.md
  - repo: https://github.com/gaborbernat/pyproject-fmt
    rev: 0.2.0
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
        args: [--severity=warning]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.2.0
    hooks:
      # Can't generate baseline with Py 3.8. Use exclude regex rules instead
      # See: https://github.com/Yelp/detect-secrets/issues/452
      - id: detect-secrets
        # args: ["--baseline", ".secrets.baseline"]
        exclude: poetry\.lock|.*/cassettes/.*\.yaml
        stages: [push]
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 0.8.1
    hooks:
      - id: yamlfix
        exclude: \.copier-answers\.yml|.*/cassettes/.*\.yaml
        types_or: []
        types: [file, yaml]
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: |
          Found copier update rejection files; review them and remove them
          (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: \.rej$
      - id: python-formatter
        name: Python Auto-Formatter
        description: Apply calcipy formatting
        language: system
        entry: poetry run doit run format_py
        types: [python]
        stages: [push]
      - id: toml-formatter
        name: Optional TOML Auto-Formatter
        description: Install taplo with 'npm install -g @taplo/cli'
        language: system
        entry: poetry run doit run format_toml
        types: [toml]
        exclude: poetry\.lock

fix: drop safety because of false positives on Calcipy CalVer
  .test_calcipy_project/noxfile.py
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/lint.py
  noxfile.py
  tests/dev/test_noxfile.py
Due: python-formatter

feat: replace pendulum with arrow
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/packaging.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  tests/test_doit_tasks/test_packaging.py
  tests/test_dot_dict.py
Due: python-formatter, toml-formatter

refactor: update semgrep nox task
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/test.py
Due: python-formatter

refactor: begin replacing attrs with pydantic
  .calcipy_packaging.lock
  calcipy/code_tag_collector.py
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/code_tags.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/summary_reporter.py
  calcipy/doit_tasks/test.py
  calcipy/file_search.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  tests/configuration.py
  tests/conftest.py
  tests/test_code_tag_collector.py
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_doit_globals.py
  tests/test_doit_tasks/test_lint.py
  tests/test_file_search.py
Due: python-formatter, toml-formatter

refactor: fix one test, refactor a little, but punq is still not working
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  tests/configuration.py
  tests/test_doit_tasks/test_doit_globals.py
Due: python-formatter

test: add test for shorten_path_list and prune
  calcipy/doit_tasks/doit_globals.py
  tests/test_doit_tasks/test_doit_globals.py
Due: python-formatter

refactor: try to fix punq by switching to functions
  calcipy/doit_tasks/doit_globals.py
  poetry.lock
  tests/configuration.py
  tests/test_doit_tasks/test_doit_globals.py
Due: python-formatter

fix: hack together a dictionary instead of punq
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/doit_tasks/doit_globals.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  tests/configuration.py
  tests/test_doit_tasks/test_doit_globals.py
Due: python-formatter, toml-formatter

refactor: formalize solution from last commit
  calcipy/doit_tasks/doit_globals.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: python-formatter

feat: make pyupgrade flag configurable based on minimum python version
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
Due: python-formatter

build: update copier
  .copier-answers.yml
  .flake8
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .pylintrc
Due: none

build: copier update to add sourcery
  .copier-answers.yml
  .sourcery.yaml
Due: none

build: bump poetry version
  .github/actions/setup/action.yml
Due: none

build: copier update
  .copier-answers.yml
  .github/actions/setup/action.yml
  .github/workflows/upgrade-dependencies.yml
Due: none

fix: naive datetimes can't be subtracted on Windows
  calcipy/doit_tasks/packaging.py
Due: python-formatter

build: copier update
  .copier-answers.yml
  .github/workflows/ci_pipeline.yml
Due: none

fix: move yamllint configuration to project-specific config
  calcipy/doit_tasks/lint.py
Due: python-formatter

feat: add docformat
  calcipy/cli/main.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  poetry.lock
  pyproject.toml
  sync_toml_minimums.py
Due: python-formatter, toml-formatter

refactor: experiment with custom semgrep rules
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/code_tags.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/test.py
  rule.yaml
Due: python-formatter

build: update copier
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/actions/setup/action.yml
  .github/labels.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .pre-commit-config.yaml
  .sourcery.yaml
  .yamllint.yaml
Due: none

test: fix failing tests
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  .test_calcipy_project/scripts/sample-json-file.json
  calcipy/doit_tasks/doit_globals.py
  docs/README.md
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  docs/docs/SECURITY.md
  tests/test_doit_tasks/test_lint.py
Due: python-formatter

bump: version 0.16.0 → 0.17.0
  calcipy/__init__.py
  pyproject.toml
Due: python-formatter, toml-formatter

refactor: move check_security from nox into doit
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/assert-cache/README.md
Due: python-formatter, toml-formatter

fix: pytest cache assert circular reference
  .calcipy_packaging.lock
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
Due: toml-formatter

bump: version 0.17.0 → 0.17.1
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: python-formatter, toml-formatter

fix: Pathlib.absolute is not documented. Use .resolve
  calcipy/cli/controllers/code_tag_collector_controller.py
Due: python-formatter

feat: expand flake8 and reduce tests
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

fix: standardize on a single doit task list
  calcipy/doit_tasks/__init__.py
  tests/test_doit_tasks/test_wildcard.py
Due: python-formatter

feat: add mypy install argument
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
Due: python-formatter

fix: lower fail-under for diff. Raise for regular test
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/test.py
Due: python-formatter

test: fix failing test
  tests/test_doit_tasks/test_wildcard.py
Due: python-formatter

build: copier update
  .copier-answers.yml
  .github/labels.yml
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
  .sourcery.yaml
  docs/docs/CODE_OF_CONDUCT.md
  docs/docs/CONTRIBUTING.md
  docs/docs/DEVELOPER_GUIDE.md
  docs/docs/SECURITY.md
  docs/docs/STYLE_GUIDE.md
  mypy.ini
  tests/conftest.py
Due: python-formatter

feat(#102): sort-of-replace pdocs, but pdoc only shows one function
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/templates/LICENSE-pdocs
  calcipy/doit_tasks/templates/README.md
  calcipy/doit_tasks/templates/text.mako
  poetry.lock
  pyproject.toml
  tests/test_doit_tasks/test_doc.py
Due: python-formatter, toml-formatter

docs(#102): initial change to mkdocs-only
  docs/reference.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: toml-formatter

feat: tried pybetter, but too focused on adding __all__
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/code_tags.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/test.py
  calcipy/dot_dict.py
  calcipy/log_helpers.py
  calcipy/proc_helpers.py
Due: python-formatter

refactor: make python files non-executable (chmod -x)
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/test.py
  tests/configuration.py
  tests/test_file_helpers.py
  tests/test_zz_calcipy.py
Due: python-formatter

feat: add gen_ref_nav!
  docs/gen_ref_nav.py
  docs/reference.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: python-formatter, toml-formatter

feat: remove pdoc(s) from document task
  calcipy/doit_tasks/doc.py
  tests/test_doit_tasks/test_doc.py
Due: python-formatter

fix: re-run prdc
  .calcipy_packaging.lock
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  tests/assert-cache/test_code_tag_collector/test_format_report.json
  tests/assert-cache/test_code_tag_collector/test_search_lines.json
Due: python-formatter, toml-formatter

build: copier update
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/labels.yml
  docs/css/mkdocstrings.css
  docs/docs/STYLE_GUIDE.md
  mkdocs.yml
Due: none
