Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      # - id: check-yaml  # The mkdocs YAML file isn't valid...
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
        stages: [push]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.14.2
    hooks:
      - id: commitizen
        additional_dependencies: ["git+https://github.com/KyleKing/cz_legacy.git@bfff2ab4134c26a31f1e7f9c3a8d4bedba824b08"]
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        entry: poetry lock
        language: system
        files: pyproject.toml
        stages: [push]
      - id: doit
        name: doit
        entry: poetry run doit run test
        language: system
        files: "\\.py"
        stages: [push]

build: remove unused tqdm
  poetry.lock
  pyproject.toml
Due: lock_deps

build: drop cl_write from default tasks
  TAG_SUMMARY.md
  calcipy/doit_tasks/__init__.py
Due: doit

fix: do not pass filenames to pre-commit
  .pre-commit-config.yaml
Due: none

build: downgrade flake8-functions (pre mr-proper)
  poetry.lock
  pyproject.toml
Due: lock_deps

bump: version 0.1.0 → 0.2.0a0
  CHANGELOG.md
  README.md
  calcipy/__init__.py
  pyproject.toml
Due: lock_deps, doit

test: fix trailing comma error
  calcipy/doit_tasks/doc.py
Due: doit

build: sort extras into lint/test categories
  DEVELOPER_GUIDE.md
  README.md
  poetry.lock
  pyproject.toml
Due: lock_deps

build: fix co-dependent extras
  README.md
  pyproject.toml
Due: lock_deps

build: extra>extra doesn’t work. Use -E dev
  README.md
  TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
Due: lock_deps

fix: make transitions optional
  calcipy/doit_tasks/doc.py
  pyproject.toml
Due: lock_deps, doit

docs: add TODO items
  calcipy/doit_tasks/doit_globals.py
  dodo.py
Due: doit

build: fix check yaml in pre-commit hooks
  .pre-commit-config.yaml
  calcipy/doit_tasks/doit_globals.py
  dodo.py
  poetry.lock
Due: doit

test: add noxfile and nox-poetry
  .pre-commit-config.yaml
  README.md
  TAG_SUMMARY.md
  calcipy/doit_tasks/doit_globals.py
  dodo.py
  noxfile.py
  pyproject.toml
  tests/test_doit_tasks/test_lint.py
Due: lock_deps, doit

build(#39): remove mkdocstrings
  docs/_stylesheets/mkdocstrings.css
  docs/changelog.md
  docs/index.md
  docs/reference/calcipy/conftest.md
  docs/reference/calcipy/doit_tasks/base.md
  docs/reference/calcipy/doit_tasks/doc.md
  docs/reference/calcipy/doit_tasks/doit_globals.md
  docs/reference/calcipy/doit_tasks/lint.md
  docs/reference/calcipy/doit_tasks/tag_collector.md
  docs/reference/calcipy/doit_tasks/test.md
  docs/reference/calcipy/log_helpers.md
  docs/reference/dodo.md
  docs/tag_summary.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: lock_deps

docs(#26): use pdocs and mkdocs without portray
  .gitignore
  dodo.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: lock_deps, doit

docs: add planned changes
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
Due: doit

feat: import templates from pdocs
  calcipy/doit_tasks/templates/LICENSE-html5
  calcipy/doit_tasks/templates/LICENSE-pdocs
  calcipy/doit_tasks/templates/README.md
  calcipy/doit_tasks/templates/css.mako
  calcipy/doit_tasks/templates/text.mako
Due: none

docs: move markdown files to docs/
  .gitignore
  README.md
  calcipy/doit_tasks/tag_collector.py
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/DEVELOPER_GUIDE.md
  docs/README.md
  docs/STYLE_GUIDE.md
  docs/TAG_SUMMARY.md
Due: doit

docs: update codetag summary file
  docs/TAG_SUMMARY.md
Due: none

docs(#27): new calcipy icon
  .gitignore
  README.md
  docs/README.md
  docs/calcipy.svg
Due: none

test: choose mypy over pytype and try implementing
  .flake8
  calcipy/conftest.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/log_helpers.py
  docs/CONTRIBUTING.md
  docs/TAG_SUMMARY.md
  dodo.py
  mypy.ini
  poetry.lock
  pyproject.toml
  pytype.cfg
Due: lock_deps, doit

feat: move check_types into calcipy
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/test.py
  dodo.py
  mypy.ini
Due: doit

refactor: standardize on code tags and cleanup
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/code_tag_collector.py
  docs/CODE_TAG_SUMMARY.md
  docs/TAG_SUMMARY.md
Due: doit

refactor: run more pre-commit checks on commit
  .pre-commit-config.yaml
  calcipy/doit_tasks/test.py
Due: doit

feat: make code tag partially configurable
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doit_globals.py
  docs/CODE_TAG_SUMMARY.md
Due: doit

fix: repair small bugs found in tests
  .pre-commit-config.yaml
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doit_globals.py
  tests/configuration.py
  tests/test_doit_tasks/test_code_tag_collector.py
  tests/test_doit_tasks/test_doit_globals.py
  tests/test_doit_tasks/test_wildcard.py
Due: doit

feat(#36): merge logic of markdown auto-formatters
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  docs/CODE_TAG_SUMMARY.md
  docs/README.md
  poetry.lock
  pyproject.toml
Due: lock_deps, doit

fix: restore ReadMeMachine
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
Due: doit

feat(#36): start WIP ReadMeMachine
  calcipy/doit_tasks/doc.py
Due: doit

create pyup.io config file
  .pyup.yml
Due: doit

build: update pyup file with defaults
  .pyup.yml
Due: doit

refactor: fix lock file and line length
  calcipy/doit_tasks/doit_globals.py
  poetry.lock
Due: doit

docs: create code of conduct
  CODE_OF_CONDUCT.md
Due: none

docs: move code of conduct to docs/
  docs/CODE_OF_CONDUCT.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

refactor: minor renaming for _MarkdownMachine
  calcipy/doit_tasks/doc.py
Due: doit

refactor: apply 0.0.1 version of calcipy_template
  .copier-answers.yml
  .flake8
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  .github/workflows/labels.yml
  .gitignore
  .isort.cfg
  README.md
  calcipy/__init__.py
  docs/CONTRIBUTING.md
  docs/DEVELOPER_GUIDE.md
  docs/SECURITY.md
  docs/STYLE_GUIDE.md
  mkdocs.yml
  pyproject.toml
  scripts/README.md
Due: lock_deps, doit

docs(#38): improve README
  docs/README.md
Due: none

refactor: apply 0.0.2 minor fixes
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none
