Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - push

doit:
  name: doit
  entry: poetry run doit run test
  language: system
  stages:
  - push

feat: implement pylint rules
  .pylintrc
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  calcipy/file_helpers.py
  calcipy/log_helpers.py
  notes.md
  tests/test_doit_tasks/test_code_tag_collector.py
  tests/test_doit_tasks/test_doit_globals.py
Due: doit

docs: move ADR into doc folder
  docs/README.md
  docs/adr/NNN-Template.md
  docs/adr/README.md
  notes.md
Due: none

refactor: improve lint_py and the return type check is working
  calcipy/doit_tasks/lint.py
Due: doit

build: update dependencies
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/doit_tasks/doc.py
  calcipy/dot_dict.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  requirements.txt
Due: doit

Update sqlparse from 0.4.1 to 0.4.2
  requirements.txt
Due: none

fix: drop unused Python2 demjson
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

test: fix failing tests
  calcipy/doit_tasks/packaging.py
  calcipy/log_helpers.py
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_lint.py
Due: doit

docs: run doit tasks
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
Due: none

bump: version 0.4.0 → 0.5.0
  appveyor.yml
  calcipy/__init__.py
  pyproject.toml
Due: lock_deps, doit

refactor: decouple code tag collector from DG
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/code_tags.py
  calcipy/doit_tasks/doit_globals.py
  tests/test_code_tag_collector.py
  tests/test_doit_tasks/test_code_tags.py
  tests/test_doit_tasks/test_doc.py
Due: doit

build: update requirements
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  poetry.lock
  requirements.txt
Due: none

fix: try to fix issues found with pytest_cache_assert
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/base.py
  noxfile.py
Due: doit

bump: version 0.5.0 → 0.6.0rc0
  appveyor.yml
  calcipy/__init__.py
  calcipy/doit_tasks/doc.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

fix: bug in noxfile and code tags reading doc output files
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/code_tags.py
  calcipy/doit_tasks/lint.py
  calcipy/file_helpers.py
  notes.md
Due: doit

bump: version 0.6.0rc0 → 0.6.0rc1
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  pyproject.toml
Due: lock_deps, doit

feat: drop pytest-cov and run coverage directly
  .calcipy_packaging.lock
  calcipy/doit_tasks/test.py
  notes.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_doit_tasks/test_test.py
Due: lock_deps, doit

fix: pin min-version (xenon) & drop preconvert and flake8-mock
  .calcipy_packaging.lock
  calcipy/doit_tasks/test.py
  calcipy/log_helpers.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

fix: swap pytest-watch(er) and other version bumps
  .calcipy_packaging.lock
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

bump: version 0.6.0rc1 → 0.6.0rc2
  appveyor.yml
  calcipy/__init__.py
  calcipy/doit_tasks/code_tags.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  pyproject.toml
Due: lock_deps, doit

fix: drop FYI and NOTE from Code Tags
  calcipy/code_tag_collector.py
Due: doit

fix: run ptw on whole directory, not just test files
  calcipy/doit_tasks/test.py
Due: doit

feat: trim trailing whitespace from doc output
  calcipy/doit_tasks/doc.py
  calcipy/file_helpers.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
Due: doit

fix: properly exclude auto-generated doc files from code tag collector
  calcipy/doit_tasks/code_tags.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  tests/test_doit_tasks/test_doc.py
Due: doit

bump: version 0.6.0rc2 → 0.6.0
  appveyor.yml
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  pyproject.toml
Due: lock_deps, doit

feat: add attrs_strict
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/summary_reporter.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

build: update dependencies
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  calcipy/doit_tasks/doit_globals.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

build: use poetry groups instead of extras (#65)
  .copier-answers.yml
  appveyor.yml
  calcipy/doit_tasks/packaging.py
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

refactor: replace pass with ... to keep it from being removed
  .calcipy_packaging.lock
  calcipy/dev/conftest.py
  calcipy/dev/noxfile.py
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/test_code_tag_collector.py
Due: doit

build: undo attempt implementing groups
  .copier-answers.yml
  appveyor.yml
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

feat: add pip-audit
  calcipy/doit_tasks/lint.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

feat: move wily to nox to reduce version conflicts
  TODO.txt
  calcipy/dev/noxfile.py
  pyproject.toml
Due: lock_deps, doit

fix: wily
  calcipy/dev/noxfile.py
Due: doit

build: update lxml and requirements
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  TODO.txt
  calcipy/code_tag_collector.py
  calcipy/dev/noxfile.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

feat: replace toml with tomli (#74)
  .test_calcipy_project/tests/test_zz_test_project.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_zz_calcipy.py
Due: lock_deps, doit

refactor: just run pre-commit install
  calcipy/doit_tasks/lint.py
Due: doit

build: merge pre-commit with chezmoi
  .pre-commit-config.yaml
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/test_doit_tasks/test_lint.py
Due: doit

build: fix lock file
  poetry.lock
Due: none

feat: initialize the cement CLI application
  calcipy/__init__.py
  calcipy/cli/__init__.py
  calcipy/cli/controllers/__init__.py
  calcipy/cli/controllers/base.py
  calcipy/cli/core/__init__.py
  calcipy/cli/core/exceptions.py
  calcipy/cli/core/version.py
  calcipy/cli/main.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/cli/test_main.py
  tests/conftest.py
Due: lock_deps, doit

refactor: move file_search to top-level
  calcipy/doit_tasks/doit_globals.py
  calcipy/file_search.py
  tests/test_file_search.py
Due: doit

feat: add cct command
  .calcipy_packaging.lock
  calcipy/cli/__init__.py
  calcipy/cli/controllers/base_controller.py
  calcipy/cli/controllers/code_tag_collector_controller.py
  calcipy/cli/main.py
  calcipy/code_tag_collector.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/test_code_tag_collector.py
Due: doit

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: pyproject.toml
  doit: any of: \.py
