Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - push

doit:
  name: doit
  entry: poetry run doit run test
  language: system
  stages:
  - push

test: set the DG path to the Test Project
  tests/configuration.py
Due: doit

'Refactored by Sourcery'
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
Due: doit

refactor: remove find_files from code_tag script
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doit_globals.py
  tests/test_doit_tasks/test_base.py
Due: doit

refactor: replace all glob-search with find_files
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  docs/CHANGELOG.md
Due: doit

fix: create separate file_search file to fix imports
  .test_calcipy_project/dodo.py
  .test_calcipy_project/tests/test_zz_test_project.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/file_search.py
  tests/test_doit_tasks/test_base.py
  tests/test_doit_tasks/test_file_search.py
Due: doit

fix: lint typing and improve tests
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  tests/test_doit_tasks/test_lint.py
Due: doit

refactor: apply auto-fixes from pre-commit
  calcipy/doit_tasks/lint.py
  poetry.lock
Due: doit

refactor: use path_file of file_path
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/doc.py
  tests/test_doit_tasks/test_base.py
Due: doit

refactor: narrow type ignore use
  calcipy/conftest.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/file_search.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  calcipy/log_helpers.py
  tests/configuration.py
Due: doit

feat: new tail-like reverse read_lines
  .gitignore
  calcipy/doit_tasks/base.py
  tests/configuration.py
  tests/test_doit_tasks/test_base.py
Due: doit

refactor: move __temp_chdir and improve fix_dg
  calcipy/doit_tasks/file_search.py
  tests/conftest.py
Due: doit

refactor: fix minor code tags
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/test.py
  docs/CHANGELOG.md
  noxfile.py
  pyproject.toml
  tests/conftest.py
Due: lock_deps, doit

fix: don't manually add the package source dir
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
Due: doit

feat!: optionally clear log directory. Move file_helpers from base
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/doc.py
  calcipy/file_helpers.py
  calcipy/log_helpers.py
  tests/configuration.py
  tests/test_doit_tasks/test_base.py
  tests/test_file_helpers.py
Due: doit

refactor: use calcipy:skip-tags
  calcipy/doit_tasks/code_tag_collector.py
  docs/CODE_TAG_SUMMARY.md
  tests/test_doit_tasks/test_code_tag_collector.py
Due: doit

fix: use find_files for code tag summary
  calcipy/doit_tasks/doit_globals.py
Due: doit

fix: reset Lint paths instead of extend
  calcipy/doit_tasks/doit_globals.py
  tests/configuration.py
  tests/test_doit_tasks/test_lint.py
Due: doit

docs: update documentation
  calcipy/log_helpers.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
Due: doit

test: move tmp cache to fixture
  tests/configuration.py
  tests/conftest.py
  tests/test_doit_tasks/test_lint.py
  tests/test_file_helpers.py
Due: doit

feat: beartype - roar!
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  calcipy/file_helpers.py
  calcipy/log_helpers.py
  docs/CODE_TAG_SUMMARY.md
  tests/test_doit_tasks/test_lint.py
Due: doit

feat: add skip_phrase for code tag skipping
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .test_calcipy_project/.github/ISSUE_TEMPLATE/bug_report.md
  .test_calcipy_project/.github/ISSUE_TEMPLATE/feature_request.md
  .test_calcipy_project/.github/ISSUE_TEMPLATE/question.md
  .test_calcipy_project/.github/PULL_REQUEST_TEMPLATE.md
  calcipy/doit_tasks/code_tag_collector.py
  tests/test_doit_tasks/test_code_tag_collector.py
Due: doit

fix: skip tags must be at bottom
  .test_calcipy_project/appveyor.yml
  .test_calcipy_project/tests/configuration.py
  calcipy/doit_tasks/code_tag_collector.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
Due: doit

perf: combine files for linting in one command
  calcipy/doit_tasks/lint.py
  tests/test_doit_tasks/test_lint.py
Due: doit

docs: update documentation & docstrings
  .test_calcipy_project/README.md
  .test_calcipy_project/docs/README.md
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  docs/README.md
  noxfile.py
Due: doit

perf: combine autopep8 paths into single command
  calcipy/doit_tasks/lint.py
  tests/test_doit_tasks/test_lint.py
Due: doit

feat: add security check task
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  noxfile.py
  poetry.lock
Due: doit

refactor: fix attribute names for path types (1/2)
  .pre-commit-config.yaml
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  pyproject.toml
  tests/test_doit_tasks/test_file_search.py
  tests/test_doit_tasks/test_lint.py
  tests/test_doit_tasks/test_wildcard.py
Due: lock_deps, doit

feat: filter with glob-like ignore_patterns (2/2)
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/file_search.py
  pyproject.toml
Due: lock_deps, doit

docs: update tag summary and changelog
  calcipy/doit_tasks/code_tag_collector.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
Due: doit

build: attempt to configure pytype
  pytype.cfg
Due: none

build(#32): drop pytype - too many issues
  calcipy/doit_tasks/test.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: lock_deps, doit

refactor: fix formatting with pre-commit
  calcipy/doit_tasks/code_tag_collector.py
  docs/CODE_TAG_SUMMARY.md
  poetry.lock
Due: doit

build: update template repository
  .gitignore
  .test_calcipy_project/.copier-answers.yml
  .test_calcipy_project/.gitignore
  .test_calcipy_project/.isort.cfg
  .test_calcipy_project/.pre-commit-config.yaml
  .test_calcipy_project/appveyor.yml
  .test_calcipy_project/mypy.ini
  .test_calcipy_project/noxfile.py
  .test_calcipy_project/tests/configuration.py
  .test_calcipy_project/tests/conftest.py
  pyproject.toml
  pytype.cfg
Due: lock_deps, doit

refactor: move if_found_unlink to file_helpers
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/lint.py
  calcipy/file_helpers.py
  tests/test_doit_tasks/test_base.py
  tests/test_doit_tasks/test_lint.py
  tests/test_file_helpers.py
Due: doit

feat: delete old files rather than full directory
  calcipy/file_helpers.py
  calcipy/log_helpers.py
Due: doit

feat: added dotted-dict wrapper of Box
  calcipy/wrappers.py
  poetry.lock
  pyproject.toml
  tests/test_wrappers.py
Due: lock_deps, doit

doc: improve toml and code tags
  .flake8
  calcipy/doit_tasks/doit_globals.py
  pyproject.toml
  tests/configuration.py
Due: lock_deps, doit

fix: import doit and expand nox test file
  noxfile.py
  poetry.lock
  pyproject.toml
  scripts/check_imports.py
Due: lock_deps, doit

docs: capture WIP notes and docstring-fixes
  .test_calcipy_project/pyproject.toml
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/file_helpers.py
  noxfile.py
  scripts/check_imports.py
Due: lock_deps, doit

feat: make most settings configurable
  .test_calcipy_project/pyproject.toml
  calcipy/doit_tasks/doit_globals.py
  tests/test_doit_tasks/test_lint.py
Due: lock_deps, doit

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: pyproject.toml
  doit: any of: \.py
