Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      # - id: check-yaml  # The mkdocs YAML file isn't valid...
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
        stages: [push]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.14.2
    hooks:
      - id: commitizen
        additional_dependencies: ["git+https://github.com/KyleKing/cz_legacy.git@bfff2ab4134c26a31f1e7f9c3a8d4bedba824b08"]
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        entry: poetry lock
        language: system
        files: pyproject.toml
        stages: [push]
      - id: doit
        name: doit
        entry: poetry run doit run test
        language: system
        files: "\\.py"
        stages: [push]

build: bump lock file
  poetry.lock
Due: none

Revert "build: don't cache .nox"
  .github/actions/setup/action.yml
Due: none

fix: undo silent nox step
  calcipy/dev/noxfile.py
  calcipy/doit_tasks/lint.py
Due: doit

docs: prdc
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
Due: none

Update README.md
  docs/README.md
Due: none

build: install calcipy
  .github/actions/setup/action.yml
Due: none

docs: cleanup notes
  .github/ABOUT.md
Due: none

build: add pyproject-fmt to pre-commit
  .pre-commit-config.yaml
Due: none

docs: possible fix for deploying new versions of docs
  .github/workflows/update_docs.yml
Due: none

feat: improve code tag regex
  calcipy/code_tag_collector.py
Due: doit

build: remove pip-audit
  calcipy/doit_tasks/lint.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

feat: use next-gen attrs syntax
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/summary_reporter.py
Due: doit

fix: correct type annotations
  .pre-commit-config.yaml
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/packaging.py
  calcipy/doit_tasks/summary_reporter.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  tests/test_doit_tasks/test_doit_globals.py
Due: doit

build: add punq, returns, and pytest-cache
  .calcipy_packaging.lock
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

build: copier update
  .copier-answers.yml
  .deepsource.toml
  .github/actions/setup/action.yml
  .github/workflows/update_docs.yml
  .sourcery.yaml
Due: none

build: update calcipy
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
Due: none

test: start using benchmark, pytest-subprocess, and pytest-cache-assert
  .github/actions/setup/action.yml
  .pre-commit-config.yaml
  calcipy/log_helpers.py
  poetry.lock
  pyproject.toml
  tests/assert-cache/README.md
  tests/assert-cache/test_format_report.json
  tests/assert-cache/test_search_lines.json
  tests/test_code_tag_collector.py
  tests/test_dot_dict.py
  tests/test_file_search.py
  tests/test_proc_helpers.py
Due: lock_deps, doit

bump: version 0.13.0 → 0.14.0
  calcipy/__init__.py
  pyproject.toml
Due: lock_deps, doit

fix: drop generation of requirements.txt
  calcipy/doit_tasks/packaging.py
  docs/docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

fix: lower pandas constraint for better 3.7 support
  poetry.lock
  pyproject.toml
Due: lock_deps

bump: version 0.14.0 → 0.14.1
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

build: add returns to mypy
  .gitignore
  mypy.ini
  poetry.lock
Due: none

fix: don't allow multi-line tables
  calcipy/code_tag_collector.py
  calcipy/doit_tasks/doc.py
Due: doit

docs: add plans for replacing DG test hack with punq registration
  tests/configuration.py
Due: doit

build: lower minimum pandas
  poetry.lock
  pyproject.toml
Due: lock_deps

bump: version 0.14.1 → 0.14.2
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

fix: use Github tables to prevent multi-line rows in Code Tag Summary
  .calcipy_packaging.lock
  calcipy/code_tag_collector.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  tests/assert-cache/test_format_report.json
  tests/test_doit_tasks/test_doc.py
  tests/test_dot_dict.py
Due: doit

fix: suppress only known git blame errors
  calcipy/code_tag_collector.py
  tests/test_dot_dict.py
Due: doit

bump: version 0.14.2 → 0.14.3
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  pyproject.toml
Due: lock_deps, doit

build: bump minimum cache-assert for testing
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
Due: lock_deps

fix: set upper limit to fix flake8-bandit compat
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  docs/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
Due: lock_deps

bump: version 0.14.3 → 0.14.4
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

fix(#91): prevent minified files from appearing in Code Tag Summary
  calcipy/code_tag_collector.py
  docs/docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_code_tag_collector.py
Due: lock_deps, doit

bump: version 0.14.4 → 0.14.5
  .calcipy_packaging.lock
  calcipy/__init__.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  pyproject.toml
Due: lock_deps, doit

docs: found issue with pyroma
  calcipy/doit_tasks/packaging.py
  docs/docs/CHANGELOG.md
Due: doit

fix: use sqlite3 for pre-commit concurrent doit access
  .pre-commit-config.yaml
  calcipy/doit_tasks/__init__.py
Due: doit

docs: comment issues found for pre-commit
  .pre-commit-config.yaml
Due: none

build: update dependencies
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  docs/docs/DEVELOPER_GUIDE.md
  mypy.ini
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

fix: improve error message when "releases" not present
  calcipy/doit_tasks/packaging.py
Due: doit

build: bump lxml and initialize asdf tool-versions
  .tool-versions
  poetry.lock
  pyproject.toml
Due: lock_deps
