Repository KyleKing/calcipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      # - id: check-yaml  # The mkdocs YAML file isn't valid...
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
        stages: [push]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.14.2
    hooks:
      - id: commitizen
        additional_dependencies: ["git+https://github.com/KyleKing/cz_legacy.git@bfff2ab4134c26a31f1e7f9c3a8d4bedba824b08"]
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        entry: poetry lock
        language: system
        files: pyproject.toml
        stages: [push]
      - id: doit
        name: doit
        entry: poetry run doit run test
        language: system
        files: "\\.py"
        stages: [push]

fix: correct isort configuration
  .copier-answers.yml
  .isort.cfg
  .pre-commit-config.yaml
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  docs/CODE_TAG_SUMMARY.md
  poetry.lock
Due: doit

build: update lock file
  poetry.lock
Due: none

docs: minor corrections
  .github/workflows/labels.yml
  docs/README.md
  tests/configuration.py
Due: doit

feat: add pytype
  calcipy/doit_tasks/test.py
  poetry.lock
  pyproject.toml
Due: lock_deps, doit

refactor: try to replace Any with BaseAction
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doit_globals.py
Due: doit

feat: add sanitizer
  calcipy/file_helpers.py
  tests/test_file_helpers.py
Due: doit

feat: make (source) doc_dir configurable
  calcipy/doit_tasks/doit_globals.py
Due: doit

feat: add log-setup fun for doit
  calcipy/log_helpers.py
  dodo.py
Due: doit

build: set min to reduce lock variability
  poetry.lock
  pyproject.toml
Due: lock_deps

build: init AppVeyor
  appveyor.yml
Due: none

build: attempt to fix AppVeyor issues
  appveyor.yml
Due: none

build: attempt Ubuntu build on AppVeyor
  appveyor.yml
  calcipy/doit_tasks/code_tag_collector.py
Due: doit

build: add codecov to AppVeyor and fixes
  appveyor.yml
Due: none

build: fix Python matrix
  appveyor.yml
Due: none

build: try to fix Ubuntu Python paths
  appveyor.yml
Due: none

build: try to fix Ubuntu paths
  appveyor.yml
Due: none

build: use stack instead of path for Ubuntu paths
  appveyor.yml
Due: none

build: use stack with variable
  appveyor.yml
Due: none

refactor: improve activate_debug_logging
  .copier-answers.yml
  appveyor.yml
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/log_helpers.py
  docs/README.md
Due: doit

feat: retrieve doc_dir from copier
  .copier-answers.yml
  calcipy/doit_tasks/doit_globals.py
  dodo.py
Due: doit

fix: add no-verify to cl_bump
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  tests/test_doit_tasks/test_doc.py
Due: doit

docs: check-in dev notes
  calcipy/doit_tasks/doc.py
  noxfile.py
Due: doit

test: init copier template project for testing
  .test_calcipy_project/.copier-answers.yml
  .test_calcipy_project/.deepsource.toml
  .test_calcipy_project/.flake8
  .test_calcipy_project/.github/ISSUE_TEMPLATE/bug_report.md
  .test_calcipy_project/.github/ISSUE_TEMPLATE/config.yml
  .test_calcipy_project/.github/ISSUE_TEMPLATE/feature_request.md
  .test_calcipy_project/.github/ISSUE_TEMPLATE/question.md
  .test_calcipy_project/.github/PULL_REQUEST_TEMPLATE.md
  .test_calcipy_project/.github/labels.yml
  .test_calcipy_project/.github/workflows/labels.yml
  .test_calcipy_project/.gitignore
  .test_calcipy_project/.isort.cfg
  .test_calcipy_project/.pre-commit-config.yaml
  .test_calcipy_project/.pyup.yml
  .test_calcipy_project/LICENSE
  .test_calcipy_project/README.md
  .test_calcipy_project/_adr/NNN-Template.md
  .test_calcipy_project/_adr/README.md
  .test_calcipy_project/appveyor.yml
  .test_calcipy_project/docs/CODE_OF_CONDUCT.md
  .test_calcipy_project/docs/CONTRIBUTING.md
  .test_calcipy_project/docs/DEVELOPER_GUIDE.md
  .test_calcipy_project/docs/README.md
  .test_calcipy_project/docs/SECURITY.md
  .test_calcipy_project/docs/STYLE_GUIDE.md
  .test_calcipy_project/dodo.py
  .test_calcipy_project/mkdocs.yml
  .test_calcipy_project/mypy.ini
  .test_calcipy_project/noxfile.py
  .test_calcipy_project/pyproject.toml
  .test_calcipy_project/scripts/README.md
  .test_calcipy_project/test_project/__init__.py
  .test_calcipy_project/tests/__init__.py
  .test_calcipy_project/tests/configuration.py
  .test_calcipy_project/tests/conftest.py
  .test_calcipy_project/tests/data/README.md
  .test_calcipy_project/tests/test_zz_test_project.py
  tests/data/doit_project/pyproject.toml
  tests/data/doit_project/test_file.py
  tests/data/doit_project/tests/test_file_2.py
Due: lock_deps, doit

fix: fix Doit Types and start beartype
  calcipy/conftest.py
  calcipy/doit_tasks/__init__.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/log_helpers.py
  tests/configuration.py
  tests/test_doit_tasks/test_base.py
  tests/test_doit_tasks/test_code_tag_collector.py
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_doit_globals.py
  tests/test_doit_tasks/test_lint.py
Due: doit

refactor!: fix capitalization for doit (one word, all lowercase)
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
Due: doit

feat: rename DIG to DG because doit is one word
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  tests/test_doit_tasks/test_code_tag_collector.py
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_doit_globals.py
  tests/test_doit_tasks/test_lint.py
  tests/test_doit_tasks/test_test.py
Due: doit

refactor: apply PEP585 and add pre-commit hook
  .pre-commit-config.yaml
  calcipy/conftest.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  calcipy/log_helpers.py
  mypy.ini
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_doit_tasks/test_doit_globals.py
Due: lock_deps, doit

fix: additional problems found with mypy
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/log_helpers.py
Due: doit

fix: import the loguru Logger class safely
  calcipy/log_helpers.py
Due: doit

fix: resolve file explosion from _find_files
  .pre-commit-config.yaml
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/log_helpers.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  noxfile.py
  poetry.lock
Due: doit

fix: undo PEP585 for runtime beartype
  .pre-commit-config.yaml
  calcipy/conftest.py
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/code_tag_collector.py
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
  calcipy/log_helpers.py
  docs/CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  docs/DEVELOPER_GUIDE.md
Due: doit

test: add a number of tests to bump coverage
  tests/test_doit_tasks/test_base.py
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_doit_globals.py
  tests/test_doit_tasks/test_lint.py
  tests/test_doit_tasks/test_test.py
  tests/test_log_helpers.py
Due: doit

fix(#53): Use Interact instead of LongRunning
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/lint.py
  calcipy/doit_tasks/test.py
  tests/test_doit_tasks/test_lint.py
Due: doit

test: fix sort in HTML test report
  calcipy/conftest.py
Due: doit

fix(#51): replace glob with git-based file identification
  .test_calcipy_project/README.md
  calcipy/doit_tasks/base.py
  tests/test_doit_tasks/test_base.py
Due: doit

refactor: move excluded lint rules to DG
  calcipy/doit_tasks/doit_globals.py
  calcipy/doit_tasks/lint.py
Due: doit

test: use a fixture for the DG
  tests/conftest.py
  tests/test_doit_tasks/test_base.py
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_lint.py
  tests/test_doit_tasks/test_test.py
Due: doit

test: fixture isn't necessary. Use _tmp_dg if changing
  calcipy/doit_tasks/base.py
  calcipy/doit_tasks/lint.py
  tests/configuration.py
  tests/conftest.py
  tests/test_doit_tasks/test_base.py
  tests/test_doit_tasks/test_doc.py
  tests/test_doit_tasks/test_doit_globals.py
  tests/test_doit_tasks/test_lint.py
  tests/test_doit_tasks/test_test.py
Due: doit

test: remove unused _collect_py_files
  calcipy/doit_tasks/lint.py
  tests/test_doit_tasks/test_doit_globals.py
  tests/test_doit_tasks/test_lint.py
Due: doit

refactor: update isort for trailing-comma
  .isort.cfg
  calcipy/doit_tasks/doc.py
  calcipy/doit_tasks/lint.py
Due: doit
